---
template: default.html
title: Blockquote-slider
excerpt: Blockquote-slider
---

<div class="quote-slider js-quote-slider">
    <h1 class="slide-title">What students are saying</h1>
    <div class="quote-slides js-quote-slides">
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "I no longer have to commute to and from Murray. I traveled 40 miles one way as an undergraduate. Now, I can do everything from home!"
            </p>
        </blockquote>
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "Online learning has allowed me to continue my education as well as work and support my family. I am able to balance education, work, and my family life much easier."
            </p>
        </blockquote>
        <blockquote class="quote-slide js-quote-slide is-active">
            <p>
                "I have the opportunity to complete my master’s and work full-time without any scheduling problems."
            </p>
        </blockquote>
    </div>
    <div class="arrows">
        <a class="arrow-prev js-arrow-prev"></a>
        <a class="arrow-next js-arrow-next"></a>
    </div>
</div>
<div class="quote-slider js-quote-slider">
    <h1 class="slide-title">What students are saying</h1>
    <div class="quote-slides js-quote-slides">
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "I no longer have to commute to and from Murray. I traveled 40 miles one way as an undergraduate. Now, I can do everything from home!"
            </p>
            <cite>
            <mark>Daniel Fukuhara</mark>
            Marketing &amp; Advertising
            </cite>
        </blockquote>
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "Online learning has allowed me to continue my education as well as work and support my family. I am able to balance education, work, and my family life much easier."
            </p>
            <cite>
            <mark>Daniel Fukuhara</mark>
            Marketing &amp; Advertising
            </cite>
        </blockquote>
        <blockquote class="quote-slide js-quote-slide is-active">
            <p>
                "I have the opportunity to complete my master’s and work full-time without any scheduling problems. "
                
            </p>
            <cite>
            <mark>Daniel Fukuhara</mark>
            Marketing &amp; Advertising
            </cite>

        </blockquote>
    </div>
    <div class="arrows">
        <a class="arrow-prev js-arrow-prev"></a>
        <a class="arrow-next js-arrow-next"></a>
    </div>
</div>
<div class="quote-slider right js-quote-slider">
    <h1 class="slide-title">What students are saying</h1>
    <div class="quote-slides js-quote-slides">
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "I no longer have to commute to and from Murray. I traveled 40 miles one way as an undergraduate. Now, I can do everything from home!"
            </p>
            <cite>
            
        </blockquote>
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "Online learning has allowed me to continue my education as well as work and support my family. I am able to balance education, work, and my family life much easier."
            </p>
            
        </blockquote>
        <blockquote class="quote-slide js-quote-slide is-active">
            <p>
                "I have the opportunity to complete my master’s and work full-time without any scheduling problems."
            </p>
        </blockquote>
    </div>
    <div class="arrows">
        <a class="arrow-prev js-arrow-prev"></a>
        <a class="arrow-next js-arrow-next"></a>
    </div>
</div>


<script>

</script>

