html {
    font-family: $base-font-family;
    line-height: $base-line-height / $base-font-size;
    color: $base-text-color;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    border-bottom: dotted thin;
    color: $color-link;
    text-decoration: none;
    font-weight: 500;
}

a:focus,
a:hover {
    color: $color-link-hover;
}

dt {
    font-weight: 600;
}



ul, ol, dd,
%margin-left {
    margin-left: (1 * $base-spacing-unit * $base-font-size);
    padding-left: (1 * $base-spacing-unit * $base-font-size);
    margin-left: (1 * $base-spacing-unit)#{rem};
    padding-left: (1 * $base-spacing-unit)#{rem};
}

.link--no-decoration,
%link--no-decoration {
    text-decoration: none;
    border-bottom: none;
}

%image-overlay--dark {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #002144;
    opacity: 0.25;
    transition: ease-out 0.2s;
    z-index: 99;
}

