html {
    font-family: $base-font-family;
<<<<<<< Updated upstream
    line-height: $base-line-height / $base-font-size;
=======
>>>>>>> Stashed changes
    color: $base-text-color;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

@mixin font-smoothing(){
     -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

<<<<<<< Updated upstream
a {
    border-bottom: solid thin;
    color: $msu-blue;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

a:focus,
a:hover {
    color: $msu-gold;
}

dt {
    font-weight: 600;
}


.link--no-decoration,
%link--no-decoration {
    text-decoration: none;
    border-bottom: none;
}

%image-overlay--dark {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #002144;
    opacity: 0.25;
    transition: ease-out 0.2s;
    z-index: 99;
}
=======

>>>>>>> Stashed changes

