.quick-links {
    @extend %off-canvas--right;
    background: tint($msu-blue,96%);
    z-index: 1000;
    .featured {
    	@extend %list--naked;
    	margin: 0;
        padding: $padding $padding--small $padding--small;
        background: $msu-navy--bright;
        li {
        }
        a {
        	@extend %grid;
        	@extend %grid--center;
            padding: $padding--tiny $padding--small;
            color: #fafafa;
            &:hover {
            	background: tint($msu-navy--bright,15%);
            }
        }
        .icon {
        	margin-right: $margin--small;
        	width: 2.4em;
        }
    }
    .quick-links-wrapper {}
    //Tabbed lists
    .tabs {
    	background: $msu-navy;
        ul {
            padding-left: 0;
            margin: 0;
            padding: 0 $padding--small;
            padding-bottom: 0;
            border-bottom: solid thin $msu-navy;
        }
        li {
            display: inline-block;
            text-align: center;
            margin-right: 0;
            padding: 0 $padding--small;
            color: $medium-grey;
            margin-bottom: -1px;
        }
        a {
            color: tint($msu-navy,50%);
            padding: 0 $padding--tiny;
            display: inline-block;
            @extend abbr;
            &:hover {
                color: tint($msu-navy,75%);
            }
        }
        .is-selected {
            a {
                color: tint($msu-navy,100%);
                border-bottom: solid 4px $msu-gold;
            }
        }
    }
    .list-group {
        position: relative;
        padding-left: $padding;
        margin-left: 0;

        li {
            width: 100%;
            display: inline-block;
        }
        a {
        	padding: $padding--tiny;
        	border-bottom: solid thin tint($msu-navy,85%);
            width: 100%;
            display: inline-block;
            transition: ease-out color 0.18s;
            &:hover {
            	color: $msu-gold;
            }
        }
    }
    #popular-list,
    #student-list,
    #faculty-list {
        @extend %list--naked;
        
        position: absolute;
        margin-left: 0;
    }
    a {
        @extend %link--no-decoration;
    }
}
