.alert-box {
    margin-bottom: $margin;
    padding-left: $padding;
    .alert-icon {
        margin-right: $margin--small;
        display: inline-block;
        vertical-align: middle;
    }
    .alert-title {
        @include typl8-smallcaps();
        }
    .alert-content {
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .alert-headline {
        font-weight: 600;
        margin-bottom: 0;
    }
    &.red {
        border-left: solid 4px #fa5e5b;
        .alert-icon {
            @include icon(error, red, 24);
        }
    }
    &.note {
        border-left: solid #f4e565;
        .alert-icon {
            @include icon(error, msu-navy, 24);
        }
    }
}

.note-box {
    padding-left: $padding;
    border-left: solid $msu-blue;
    font-style: italic;
    font-size: 16px;
}
