.interior-template {
.page-anchors {
    padding: 0;
    margin-bottom: $margin;
    .list {
        @include list-style(bare);
        margin: 0;
        padding-left: $padding;
        border-left: solid shade(white,10%);

        &:before {
            @include typl8-smallcaps();
            content: "On this page";
            margin-bottom: $margin--tiny;
            display: block;
        }
        .item {
            line-height: 1.3;
            margin-bottom: $margin--tiny;

            a {
                @include link(no-decoration);
            }
        }

        &.right {
            @include media(big-desktop) {
                float: right;
                padding: $padding--tiny $padding--small 0 $padding--small;
                font-size: $typl8-smaller-font-size;
            }
        }
    }

    &.is-fixed {
        @include container;
        @include media(big-desktop) {
            position: fixed;
            top: 0;
            .right {
                margin-right: $margin;
            }
        }
    }
}
}
