$navigation: navigation-bar;
$list: navigation-list;
$list-item: li;
$anchor: a;




.#{$navigation} {
	background: shade(white,5%);
	@include container();
	.#{$list} {
		@include list-orientation(horizontal);
		margin-top: 0;
		padding: 0;
		position: relative;
		margin-bottom: 0;
		#{$list-item}{
			width: 100%;
			@include media(desktop){
				width: auto;
			}
			#{$anchor}{
	
				border-bottom: 0;
				display: inline-block;
				padding: $padding--tiny $padding--small;
			}
		}
	}
}

.lede {
	font-size: $typl8-lede-paragraph-size;
}





