.helpful-links {
    display: inline-block;
    width: 100%;
    border-top: solid thin #eee;
    border-bottom: solid thin #eee;
    margin-bottom: $margin;
    .list {
        @extend %list--naked;
        @extend %list--horizontal;
        &:before {
            @extend %label;
            content: "Helpful Links";
        }
    }
    .item {
    }
    .link {
        @extend %link--no-decoration;
    }
    &.middle {    
    }
    &.right {
        @include media(desktop) {
            border-top: 0;
            border-bottom: 0;
            border-left: solid thin #eee;
            float: right;
            margin-left: $margin;
            width: 33%;
            .list {
                margin-top: 0;
                margin-bottom: 0;
            }
            .item {
                width: 100%;
            }
        }
    }
    &.bottom {
        border-top: solid thin #eee;
        border-bottom: 0;
    }
}


