.site-container {
    @include container();
}

.main-article {
    display: inline-block;
    .article-wrapper {
        @include box-shadow(1);
        padding: $padding;
        background: white;
        margin-bottom: $margin;
        @include media(desktop) {
            max-width: 760px;
            padding: $padding--xxlarge;
        }
    }
}
