/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color 
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;
  
  $perpendicular-borders: $size solid transparent;
  
  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

.helper {
@include box-shadow(5);
	position: absolute;
  background: $msu-teal;
  padding: $padding--tiny $padding--small;
  z-index: 998;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  right: 48px;
  line-height: 1;
  border-radius: 2px;
  margin-top: $margin--tiny;

  &:after {
  	@include triangle(right, $msu-teal, 0.5em);
  	position:absolute;
  	transform: translateX(100%);
  	right: 0;
  }
}

.quick-links {
	@extend %off-canvas--right;
	@extend %transition--off-canvas;
  -webkit-backface-visibility: hidden;
    background: tint($msu-blue,96%);
    z-index: 1000;
	&.is-showing {
		@include box-shadow(2);
	}
    
    .featured {
    	@extend %list--naked;
    	margin: 0;
        padding: $padding $padding--small $padding--small;
        background: $msu-navy--bright;
        li {
        }
        a {
        	@extend %grid;
        	@extend %grid--center;
            padding: $padding--tiny $padding--small;
            color: #fafafa;
            &:hover {
            	color: $msu-gold;
            }
        }
        .icon {
        	margin-right: $margin--small;
        	width: 2.4em;
        }
    }
    //Tabbed lists
    .tabs {
    	background: $msu-navy;
        ul {
            padding-left: 0;
            margin: 0;
            padding: 0 $padding--small;
            padding-bottom: 0;
            border-bottom: solid thin $msu-navy;
        }
        li {
            display: inline-block;
            text-align: center;
            margin-right: 0;
            padding: 0 $padding--small;
            color: $medium-grey;
            margin-bottom: -1px;
        }
        a {
            color: tint($msu-navy,50%);
            padding: $padding--tiny;
            display: inline-block;
            @extend abbr;
            &:hover {
                color: tint($msu-navy,75%);
            }
        }
        .is-selected {
            a {
                color: $msu-gold;
            }
        }
    }
    .list-group {
        position: relative;
        padding-left: $padding;
        margin-left: 0;

        li {
            width: 100%;
            display: inline-block;
        }
        a {
        	padding: $padding--tiny;
        	border-bottom: solid thin tint($msu-navy,85%);
            width: 100%;
            display: inline-block;
            &:hover {
            	color: $msu-gold;
            }
        }
    }
    #popular-list,
    #student-list,
    #faculty-list {
        @extend %list--naked;
        
        position: absolute;
        margin-left: 0;
    }
    a {
        @extend %link--no-decoration;
    }

}

.close-button {
      @extend abbr; 
      padding: $padding--tiny $padding--small;
      background: shade(white,5%);
      color: shade(white,25%);
      position: absolute;
      bottom: $margin;
      left: 50%;
      transform: translateX(-50%);
      &:hover {
        color: shade(white,50%);
      }
      @include media(tablet) {
  display: none;
}
    }



