



//Base
.media-caption,
%media-caption {
  padding: $padding--small;
  color: $dark-grey;
  text-align: center;
}

.media-title {
  @extend %label;
  margin-bottom: $margin--tiny;
}

.media-description {
  font-size: $typl8-smaller-font-size;
  margin-bottom: 0;
}

//Variations
.media-caption.overlay-bottom {
  @extend %media-caption;
  @include absolute($bottom: 0);
  text-align: left;
  width: 100%;
  color: white;
  z-index: 2;
  .media-title {
    color: white;
  }
  //States
  &.is-hidden {
    transform: translateY(calc(100% - (0.825rem + 13px + 0.825rem)));
    transition: cubic-bezier(0.4, 0, 0.2, 1) transform 0.28s;
    .media-title {
      color: $msu-gold;
    }
    .media-description {
      overflow: hidden;
      opacity: 0;
      transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 0.28s 0.42s;
    }
  }
  &.is-visible {
    transform: translateY(0);
    .media-description {
      opacity: 1;
    }
  }
}
