.page-anchors {
    padding: 0;
    .list {
        @extend %list--naked;
        margin: 0;
        padding-left: $padding;
        border-left: solid shade(white,10%);

        &:before {
            @extend %label;
            content: "On this page";
        }
        .item {
            line-height: 1.3;
            margin-bottom: $margin--tiny;

            a {
                @extend %link--no-decoration;
            }
        }

        &.right {
            @include media(big-desktop) {
                float: right;
                padding: $padding--tiny $padding--small 0 $padding--small;
                font-size: $typl8-smaller-font-size;
            }
        }
    }

    &.is-fixed {
        @extend %container;
        @include media(big-desktop) {
            position: fixed;
            top: 0;
            .right {
                margin-right: $margin;
            }
        }
    }
}
