@mixin mask($mask-color, $mask-width) {
    content: "";
    position: absolute;
    width: $mask-width;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba($mask-color, 0.75);
}





// $Banner
//-------------------------------------//
// @Components
// .banner
//   .banner-slide
//     .banner-figure
//     .banner-image
//   .banner-caption-wrapper
//     .banner-caption
//       .banner-context
//       .banner-headline
//       .banner-description
//       .banner-button
//    .arrows
// 
// @Variations
// background-colors - .gold, .navy
// positioning - .top-left, .top-right, .centered
// states - .is-active
.banner {
    $color: white;
    $secondary-color: $msu-gold;
    $max-height: 720px;
    $transition: cubic-bezier(0.4, 0, 0.2, 1);
    @include font-smoothing();
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: $max-height;
    .banner-slider {
        @include aspect-ratio(21,9,banner-slide);
    }
    .banner-slide {
        max-height: $max-height;
        position: relative;
        width: 100%;
        opacity: 0;
        position: absolute;
        transition: $transition opacity 1.12s;
        &:after {
            @include mask(transparent, 100%);
            @include linear-gradient(transparent, 0%, rgba(black, 0.65), 60%);
            @include media(desktop) {
                @include linear-gradient(transparent, 0%, rgba(black, 0.45), 60%);
            }
        }
        .banner-figure {
            overflow: visible;
            width: 100%;
            height: 100%;
            margin: 0;
            .banner-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .banner-caption-wrapper {
            @include container(67.3684211rem);
            display: block;
            padding: $padding--small;
            position: absolute;
            z-index: 2;
            bottom: 0;
            height: 100%;
            @include media(desktop) {
                padding: $padding;
                background: transparent;
                z-index: 3;
                left: 0;
                right: 0;
                opacity: 0;
                transform: translateY(0.825rem);
                transition: $transition opacity 0.28s, cubic-bezier(0.4, 0, 0.2, 1) transform 0.56s;
            }
        }
        .banner-caption {
            z-index: 2;
            bottom: 0;
            padding-bottom: $padding--small;
            position: absolute;
            @include media(desktop) {
                max-width: 50%;
                padding: $padding;
                padding-bottom: $padding--xxlarge;
            }
            .banner-context {
                @include typl8-smallcaps($secondary-color, 700);
                margin-bottom: 0;
                font-size: $context-label-font-size;
            }
            .banner-headline {
                @include typl8(1);
                margin-bottom: 0.4125rem;
                color: $color;
                line-height: 1;
                font-weight: 600;

                @include media(desktop) {
                    @include typl8(4);
                }
            }
            .banner-description {
                font-size: 1rem;
                color: $color;
                font-weight: 500;
                line-height: 1.3;
                margin-bottom: $margin--small;
                @include media(desktop) {
                    margin-bottom: $margin;
                    @include typl8(1);
                }
            }
            .banner-button {
                @include button(outline);
                @include no-smallcaps();
                font-size: 1rem;
                padding: $padding--tiny $padding--small;
                border-radius: 0;
                margin-bottom: 0;
                display: inline-block;
                line-height: 1;
                color: white;
                &:hover {
                    color: $msu-gold;
                    background: transparent;
                    border-bottom: solid thin;
                }
            }
        }
        &.is-active {
            opacity: 1;
            .banner-caption-wrapper {
                opacity: 1;
                transition-delay: 0.56s;
                transform: translateY(0);
            }
        }
        
        &.top-right {
            @include media(desktop) {
                &:after {
                    @include angle-gradient(-120deg, rgba(black, 0.45), 30%, transparent, 100%);
                }
                .banner-caption-wrapper {
                    top: 0;
                    transform: translateY(0);
                    .banner-caption {
                        padding: $padding;
                        top: 0;
                        right: 0;
                    }
                }
                &.is-active {
                    .banner-caption-wrapper {
                        transform: translateY(0.825rem);
                    }
                }
            }
        }
        &.top-left {
            @include media(desktop) {
                &:after {
                    @include angle-gradient(120deg, rgba(black, 0.45), 30%, transparent, 100%);
                }
                .banner-caption-wrapper {
                    top: 0;
                    transform: translateY(0);
                    .banner-caption {
                        top: 0;
                        left: 0;
                    }
                }
                &.is-active {
                    .banner-caption-wrapper {
                        transform: translateY(0.825rem);
                    }
                }
            }
        }

        &.centered {
            .banner-caption-wrapper {
                .banner-caption {
                    width: 100%;
                    text-align: center;
                    bottom: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .banner-headline {
                        font-weight: 700;
                    }
                    .banner-description {
                        font-weight: 400;
                    }
                }
            }
        }

        &.gold {
            &:after {
                @include mask($msu-gold, 100%);
            }
            .banner-caption {
                .banner-context {
                    color: $msu-blue;
                }
                .banner-headline {
                    color: $msu-navy;
                }
                .banner-description {
                    color: $color;
                }
                .banner-button {
                    color: $msu-navy;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        &.navy {
            .banner-caption {
                .banner-context {
                    color: $msu-gold;
                }
                .banner-headline {
                    color: white;
                }
                .banner-description {
                    color: $color;
                }
                .banner-button {
                    color: $msu-blue;
                    &:hover {
                        color: white;
                    }
                }
            }
            &:after {
                @include mask($msu-navy, 100%);
            }
        }
    }
    .banner-arrows {
        position: absolute;
        right: 0;
        bottom: 1px;
        z-index: 4;
        color: white;
        &.with-action-buttons {
            left: 0;
        }
        .banner-arrow {
            @include button(icon);
            border-radius: 0;
            margin-bottom: 0;
            padding: $padding--tiny;
            color: white;
            background: transparent;
            &:hover {
                background: $msu-gold;
            }
            &.next {
                background: rgba(grey, 0.5);
                &:hover {
                    background: $msu-gold;
                }
            }
        }
    }
    &.with-action-buttons {
        .banner-arrows {
            left: 0;
        }
    }
}

.banner-editor {
    @include table();
    line-height: 1.25;
    .helper-text {
        font-size: $typl8-smaller-font-size;
        font-style: italic;
        display: block;
    }
    .banner-editor-head {
        th {
            vertical-align: bottom;
        }
    }
    .banner-editor-image {
        @include icon("insert_photo","grey","48");
        @include aspect-ratio(16,9,img);
        min-width: 200px;
        position: relative;
        background: shade(white,5%);
        text-align: center;
        &:before {
            opacity: 0.5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        img {
            @include position(absolute, $top: 0, $left: 0);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .banner-editor-alignment {
        padding: $padding--small;
    }
    .banner-editor-link {
        text-align: center;
    }
    select {
        margin-bottom: $margin--tiny;
    }

}

.action-buttons {
    background: $msu-navy;
    padding: $padding--small;
    @include media(desktop){
            padding: 0 $padding;
            position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: transparent;
        }
    
    .action-button {
        @include button(with-icon);
        
        @include media(desktop){
        }
        .icon {
            @include icon("menu","white","24");
        }
        &.bare {
            background: transparent;
        }
        &.raised {
            @include box-shadow(4);
        }
    }
}



