.twitter-widget {
    .twitter-username {
        @include typl8-smallcaps($font-weight: 700);
        display: inline-block;
    }
    .twitter-feed-one,
    .twitter-feed-two {
        .tweet-list {
            @include list-block($size: small);
            padding-left: 0;
        }
        .tweet-content {
            margin-bottom: $margin--tiny;
        }
        .time-posted a {
            @include typl8-smallcaps($color: shade(white, 25%));
            line-height: 1;
        }
        .tweet a {
            border-bottom: 0;
        }
        *[aria-label*="Emoji"] {
            width: 1rem;
            height: 1rem;
            padding: 0 .05em 0 .1em;
            vertical-align: -0.1em;
        }
    }
    @include media(desktop) {
        &.horizontal {
            .twitter-username {
                @include typl8-smallcaps($font-weight: 700);
                display: inline-block;
                text-align: center;
                width: 100%;
                text-align: center;
            }
            .icon.twitter {
                text-align: center;
                display: inline-block;
                width: 100%;
            }
            .tweet-list {
                @include list-orientation(horizontal);
                .tweet {
                    width: 33%;
                    border-bottom: 0;
                    margin: 0;
                    vertical-align: top;
                }
                .tweet-content {
                    text-align: center;
                }
                .time-posted {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.facebook-widget {
	.facebook-pagename {
		@include typl8-smallcaps($font-weight: 700);
        display: inline-block;
	}
    .facebook-feed {
        .post-list {
            @include list-block($size: small);
            padding-left: 0;
        }
        .post {
            position: relative;
        }
        .post-link {
            position: absolute;
            width: 100%;
            height: 100%;
            border-bottom: 0;
            top: 0;
            left: 0;
        }
        .post-content {
            margin-bottom: $margin--tiny;
        }
        .time-posted {
            @include typl8-smallcaps($color: shade(white, 25%));
        }
    }
    @include media(desktop) {
        &.horizontal {
            .facebook-pagename {
                @include typl8-smallcaps($font-weight: 700);
                display: inline-block;
                text-align: center;
                width: 100%;
                text-align: center;
            }
            .icon.facebook {
                text-align: center;
                display: inline-block;
                width: 100%;
            }
            .post-list {
                @include list-orientation(horizontal);
                .post {
                    width: 33%;
                    border-bottom: 0;
                    margin: 0;
                    vertical-align: top;
                }
                .post-content {
                    text-align: center;
                }
                .time-posted {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
