.accordion {
    .title {
        padding-bottom: $padding--tiny;
        color: $msu-blue;
        border-bottom: solid thin shade(white, 10%);
        @include icon("expand_more","msu-blue","24");
        &:before {
            margin-right: $margin--tiny;
        }
        //Change to expand less icon once expanded
        &.is-expanded {
            @include icon("expand_less","msu-blue","24");
        }
    }
    //Hide content
    .content {
        display: none;
        //Show content
        &.is-expanded {
            display: block;
        }
    }
}
