.accordion {
    margin-bottom: $margin;
    overflow-y: hidden;
    .content-title {
        position: relative;
        margin-bottom: 0;
        padding: $padding--small 0;
        color: $msu-blue;
        border-bottom: solid thin shade(white, 10%);
        transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        @include icon("expand_more", "msu-blue", "24", after);
        &:after {
            float: right;
        }
        &:before {
            margin-right: $margin--tiny;
        }
        &.is-expanded {
            @include icon("expand_less", "msu-blue", "24", after);
    
            &:after {
                float: right;
            }
        }
    }
    &.is-active {
        .content-title {
            color: tint($msu-blue,50%);
            &.is-expanded {
                color: $msu-blue;
            }
        }
    }

    .content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0.21s;
        .content-inner {
            padding: $padding--small;
            transform: translateY(100%);
            transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0.21s, opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0.21s;
            opacity: 0;
        }
        &.is-expanded {
            transition: max-height 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            max-height: 1000px;
            .content-inner {
                opacity: 1;
                transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0.21s, opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0.21s;
                transform: translateY(0);
            }
        }

    }

    .accordion-main {
        max-width: 700px;
        display: inline-block;
        vertical-align: top;
        padding-right: $padding;
    }
    .accordion-aside {
        display: inline-block;
        h4 {
            @include typl8-smallcaps();
        }
    }
}
