.interior-template {
&.page-with-side-nav {
    @include grid();
    position: relative;
    width: calc(100% + 265px);
    .page-content {
        background: white;
        transition: ease-in-out transform 0.4s;
        transform: translateX(-265px);
        max-width: calc(100% - 265px);
        width: 100%;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .page-content-wrapper {
        max-width: 960px;
        margin: 0 auto;
        padding: $padding;
    }
    .side-nav-toggle {
        @include icon(menu, msu-blue, 24);
        padding: $padding--small;
        border-bottom: 0;
        display: inline-block;
    }
    @include media(desktop) {
        .side-nav-toggle {
            display: none;
        }
        .page-content {
            max-width: calc(100% - 530px);
            transform: translateX(0)!important;
        }
        .page-content-wrapper {
            padding: $padding--xlarge;
        }
    }
    &.side-nav-is-visible {
        .page-content {
            transform: translateX(0);
        }
    }
    .page-aside {
        background: #4d4a53;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .aside-navigation {
        width: 265px;
        margin-bottom: $margin--small;
        .nav-list {
            list-style: none;
            margin: $margin 0;
            padding: 0;
            a {
               display: block;
                padding: $padding--small $padding;
                border-bottom: 0;
                color: white;
                &:hover {
                    background: tint(#4d4a53,10%);
                }
            }
            .current a {
                background: $msu-blue;
            }

        }
        
    }
}
.page-breadcrumbs {
    display: none;
    @include media(desktop) {
        display: block;
        flex: 1 1 100%;
        @include list-orientation(horizontal, $style: breadcrumbs);
        .breadcrumbs-list {
            margin: 0;
        }
    }
}
}

.nav-contact {
    padding-left: 1.65rem;
    margin-bottom: $margin;
    color: #fff;
    font-size: 16px;
    .contact-label {
        @include typl8-smallcaps();
        display: block;
        margin-bottom: $margin--tiny;
    }
}

.nav-social-media {
    padding-left: 1.65rem;
    margin-bottom: $margin;
    .social-label {
        @include typl8-smallcaps();
        display: block;
        margin-bottom: $margin--tiny;
    }
    .social-icon {
        margin-right: $margin--tiny;
        border-bottom: 0;
        &.instagram {
            @include icon(instagram,white,small);
        }
        &.twitter {
            @include icon(twitter,white,small);
        }
    }
}
