



.quick-links {
    @extend %off-canvas--right;
    @extend %transition--off-canvas;
    -webkit-backface-visibility: hidden;
    background: tint($msu-blue, 96%);
    z-index: 1000;
    &.is-showing {
        @include box-shadow(2);
    }


    //Featured list
    .featured-items {
        @extend %list--naked;
        margin: 0;
        padding: $padding $padding--small $padding--small;
        background: $msu-navy--bright;
        a {
            @extend %link--no-decoration;
            @extend %grid;
            @extend %grid--center;
            padding: $padding--tiny $padding--small;
            color: #fafafa;
            &:hover {
                color: $msu-gold;
            }
        }
        .icon {
            margin-right: $margin--small;
            width: 2.4em;
        }
    }


    //Tabs
    .tabs {
        background: $msu-navy;
        ul {
            padding-left: 0;
            margin: 0;
            padding: 0 $padding--small;
            padding-bottom: 0;
            border-bottom: solid thin $msu-navy;
        }
        li {
            display: inline-block;
        }
        a {
            @extend %link--no-decoration;
            @extend %small-caps;
            color: tint($msu-navy, 50%);
            padding: $padding--tiny $padding--small;
            display: inline-block;
            &:hover {
                color: tint($msu-navy, 75%);
            }
        }
        .is-selected {
            a {
                color: $msu-gold;
            }
        }
    }

    //Tabbed Lists
    .tabbed-lists {
        position: relative;
        padding-left: $padding;
        margin-left: 0;
        ul {
            @extend %list--naked;
            position: absolute;
            margin-left: 0;
        }
        li {
            width: 100%;
            display: inline-block;
        }
        a {
            padding: $padding--tiny;
            border-bottom: solid thin tint($msu-navy, 85%);
            width: 100%;
            display: inline-block;
            &:hover {
                color: $msu-gold;
            }
        }
    }


    .close-button {
        @extend abbr;
        padding: $padding--tiny $padding--small;
        background: shade(white, 5%);
        color: shade(white, 25%);
        position: absolute;
        bottom: $margin;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            color: shade(white, 50%);
        }
        @include media(tablet) {
            display: none;
        }
    }
}
