$navigation: navigation-bar;
$list: navigation-list;
$list-item: li;
$anchor: a;




.#{$navigation} {
	@include list-orientation(horizontal);
	.#{$list} {
		margin-top: 0;
		background: shade(white,5%);
		text-align: center;
		padding: 0;
		position: relative;
		#{$list-item}{
			width: 100%;
			background: shade(white,5%);
			@include media(desktop){
				width: auto;
			}
			#{$anchor}{
				@include typl8-smallcaps(shade(white,35%),600);
				border-bottom: 0;
				display: inline-block;
				padding: $padding--tiny $padding--small;
			}
		}
	}
}

.lede {
	font-size: $typl8-lede-paragraph-size;
}


.grid.grid--auto {
	border-top: solid thin shade(white,25%);
}
dl {
	margin: 0;
	padding: $padding;
}


dt {
	@include typl8-smallcaps(shade(white,25%),600);
}
dd {
	margin-left: 0;
	margin-bottom: $margin--tiny;
}



