.image--circle,
%image--circle {
    @include aspect-ratio(1,1,img);
    border-radius: 50%;
}

.media {
    &.full {
        width: 100%;
        margin-bottom: $margin;
        > *[class^="figure"] {
            @include aspect-ratio(3,1,img);
        }
    }
    &.right {
        width: 100%;
        float: right;
        margin-left: $margin;
        margin-bottom: $margin;
        @include media(desktop) {
            width: 33%;
        }
        &.collage {
            margin-right: 0;
            margin-bottom: 0;
            @include media(desktop) {
                width: 20%;
                float: left;
            }
        }
    }
    &.left {
        width: 100%;
        float: left;
        margin-right: $margin;
        margin-bottom: $margin;
        @include media(desktop) {
            width: 33%;
        }
        &.collage {
            margin-right: 0;
            margin-bottom: 0;
            @include media(desktop) {
                width: 40%;
            }
        }
    }
    &.center {
        width: 66%;
        margin-right: auto;
        margin-bottom: $margin;
        margin-left: auto;
        > *[class^="figure"] {
            @include aspect-ratio(16,9,img);
        }
        &.collage {
            float: left;
            margin-right: 0;
            margin-bottom: 0;
            @include media(desktop) {}
        }
    }
    &.right,
    &.left {
        > *[class^="figure"] {
            @include aspect-ratio(16,9,img);
        }
    }
}

.media-grid {
    @include grid("1of3","grid-image");
    margin-bottom: $margin;
    width: 100%;
    .grid-image {
        > figure {
            @include aspect-ratio(4,3,img);
        }
    }
    &.with-gutters {
        @include gutters("large","grid-image");
    }
}


.with-overlay,
%with-overlay {
    position: relative;
    overflow: hidden;
}







