.page-header {
	max-height: 720px;
	overflow: hidden;
}

.page-banner {
    @include aspect-ratio(3,1,banner-image);
    position: relative;
    z-index: 1;
}


.interior-template {

.page-breadcrumbs {
    padding: $padding--small $padding;
    background: shade(white, 5%);
    .breadcrumbs-list {
        padding-left: 0;
    }
}

.page-intro {
    padding: $padding--large 0;
    margin-bottom: $margin--large;
    background: $msu-gold;
    color: $msu-navy;
    position: relative;
    .intro-heading {
        margin-top: $margin;
        color: $msu-navy;
    }
    .lede {
        padding-right: $padding;
    }
    .intro-background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.25;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .intro-content {
        position: relative;
        z-index: 2;
        width: 100%;
    }
}
.page-content {
.shortcut-list {
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        &:before {
            @include typl8-smallcaps();
            content: "Popular destinations";
        }
        a {
            border-bottom: 0;
            @include icon(chevron_right, msu-blue, 24, $position: after);
            &:after {
                transition: ease transform 0.3s;
            }
            &:hover {
                @include icon(chevron_right, msu-gold, 24, $position: after);
                &:after {
                    transform: translateX(4px);
                }
            }
        }
    }
}

.page-section {
    padding-bottom: $padding--large;
    margin-bottom: $margin--large;
}

.link-card {
    padding: $padding;
    transition: ease all 0.3s;
    position: relative;
    &:hover {
        @include box-shadow(1);
        background: white;
    }
    .card-link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        border-bottom: 0;
    }
    .card-media {
        @include aspect-ratio(16, 9, img);
        margin-bottom: $margin--small;
    }
    .card-content {
        .content-title {
            margin-bottom: $margin--tiny;
        }
        .content-snippet {
            margin-bottom: $margin--small;
            padding-bottom: $padding--small;
            border-bottom: solid thin shade(white, 15%);
        }
    }
    .shortcut-list {
        z-index: 2;
        position: relative;
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        &:before {
            @include typl8-smallcaps();
            content: "Popular destinations";
        }
        a {
            border-bottom: 0;
            @include icon(chevron_right, msu-blue, 24, $position: after);
            &:after {
                transition: ease transform 0.3s;
            }
            &:hover {
                @include icon(chevron_right, msu-gold, 24, $position: after);
                &:after {
                    transform: translateX(4px);
                }
            }
        }
    }

    &.inline {
    	.card-media {
        @include aspect-ratio(1, 1, img);
        margin-bottom: 0;
        img {
        	border-radius: 50%;
        }

    }
    }
}
}
