.article-list {
    $list-item: article;
    $item-title: h3;
    
    @include list-block($selector: article);
    #{$list-item},
    .#{$list-item} {
        &:first-child {
            #{$item-title},
            .#{$item-title} {
                margin-top: 0;
            }
        }
    }
}
