.image--circle,
%image--circle {
    @extend %image-ratio-1x1;
    border-radius: 50%;
}

.media {
    &.full {
        width: 100%;
        margin-bottom: $margin;
        > *[class^="figure"] {
            @extend %image-ratio-3x1;
        }
    }
    &.right {
        width: 100%;
        float: right;
        margin-left: $margin;
        margin-bottom: $margin;
        @include media(desktop) {
            width: 33%;
        }
        &.collage {
            margin-right: 0;
            margin-bottom: 0;
            @include media(desktop) {
                width: 20%;
                float: left;
            }
        }
    }
    &.left {
        width: 100%;
        float: left;
        margin-right: $margin;
        margin-bottom: $margin;
        @include media(desktop) {
            width: 33%;
        }
        &.collage {
            margin-right: 0;
            margin-bottom: 0;
            @include media(desktop) {
                width: 40%;
            }
        }
    }
    &.center {
        width: 66%;
        margin-right: auto;
        margin-bottom: $margin;
        margin-left: auto;
        > *[class^="figure"] {
            @extend %image-ratio-16x9;
        }
        &.collage {
            float: left;
            margin-right: 0;
            margin-bottom: 0;
            @include media(desktop) {}
        }
    }
    &.right,
    &.left {
        > *[class^="figure"] {
            @extend %image-ratio-4x3;
        }
    }
}

.media-grid {
    margin-bottom: $margin;
    width: 100%;
    @extend %grid;
    @extend %grid--1of3;
    .grid-image {
        @extend %grid-cell;
        > figure {
            @extend %image-ratio-4x3;
        }
    }
    &.with-gutters {
        @extend %grid--gutters;
    }
}


.with-overlay,
%with-overlay {
    position: relative;
    overflow: hidden;
}







