.color-palette {
	@extend %grid;
	@extend %med-grid--1of2;
	@extend %small-grid--full;
	.color-card {
		@extend %grid-cell;
		.inner {
			@include aspect-ratio(16,9,div);
		}
		span {
			@include absolute-centered();
			color: #fff;
			font-weight: 600;
		}
	}
	.color-palette {
		.color-card {
		padding-left: 0;
	}
	}
}



