.menu-button {
	@include icon("menu","white","48");
	border-bottom: 0;
	opacity: 0.25;
	float: right;
	&:hover {
		opacity: 0.75;
	}
	&.is-toggled {
		opacity: 1;
	}
}

.site-navigation {
	@extend %transition--off-canvas-top;
	overflow: hidden;
	max-height: 0;
	background: $light-grey;
	ul {
		@extend %container;
		@extend %base-text--bigger;
		padding-top: $padding;
		padding-bottom: $padding;
		color: #fff;
		ul {
			font-size: 1rem;
			padding-top: $padding--tiny;
			padding-bottom: $padding--small;
			a {
				font-weight: 500;
				color: $dark-grey;
			}
		}
	}
	a {
		color: $medium-grey;
		@extend %link--no-decoration;
		font-weight: 600;
		&.is-current,
		&:hover {
			color: $msu-blue--bright;
		}
	}
}


.site-navigation.is-visible {
	max-height: 1000px;
}

