

.demo-box h3 {
	margin-top: 0;
}


@mixin table(){
	width: 100%;
	margin-bottom: $margin;
	tr {
		border-bottom: solid thin tint(#888888,50%);
		@include media(desktop){
				border-bottom: 0;
			}

	}
	th,
	td {
		padding: $padding--small $padding--small $padding--tiny $padding--tiny;
		text-align: left;
	}
	th {
		font-weight: 500;
		color: #888888;
		border-bottom: solid thin tint(#888888,75%);
		display: none;
		@include media(desktop){
				display: table-cell;
			}
	}
	td {
		border-bottom: solid thin tint(#888888,85%);
		font-size: 16px;
		font-weight: 500;
		display: inline-block;
		width: 100%;
		&:first-child {
			padding-top: $padding--small;
			@include media(desktop){
				padding-top: $padding--tiny;
			}
		}
		&:last-child {
			padding-bottom: $padding--small;
			border-bottom: 0;
			@include media(desktop){
				padding-bottom: $padding--tiny;
				border-bottom: solid thin tint(#888888,75%);
			}
		}
		&:before {
			content: attr(data-th)": ";
			font-weight: 600;
			@include media(desktop){
				display: none;
			}
		}
		@include media(desktop){
				display: table-cell;
				width: auto;
				border-bottom: solid thin tint(#888888,75%);
			}
	}
}

.table,
%table,
.table-snippet {
	@include table();
}

