



.intro {
	padding: $padding--xlarge $padding--xxlarge;
	max-width: 960px;
}



.aside-content {
	@include media(desktop){
	width: 400px;
	display: inline-block;
	vertical-align: top;
	background: shade(white,5%);
	padding: $padding--large $padding--xxlarge $padding--large 0;
}

}


// $Content Headings
// -------------------------------------//

//using this to create our content separation
.main-content h2,
.main-content h3 {
	margin-top: $margin;
	clear: both;
}

//remove top margin from h2 elements that immediately follow h1 elements.
.main-content h1 + h2,
.main-content h2 + h3 {
	margin-top: 0;
}
