
@mixin list-style($name){
	@if $name == bare {
		list-style: none;
	}
	@if $name == bullet {
		list-style: disc;
		margin-left: $margin;
	}
	@if $name == circle {
		list-style: circle;
		margin-left: $margin;
	}
	@if $name == square {
		list-style: square;
		margin-left: $margin;
	}
	
}


@mixin list-orientation($name, $selector: li, $style: false){
	@if $name == horizontal {
		#{$selector} {
			display: inline-block;
			@if $style == bars {
			&:after {
				margin-left: $margin--small;
				content: "|";
				color: shade(white,15%);
			}
			&:last-child:after {
				content: "";
			}
		}
		@if $style == breadcrumbs {
			padding-left: $padding--small;
			line-height: 1;
			&:first-child {
				padding-left: 0;
			}
			&:after {
				margin-left: $margin--small;
				content: "/";
				color: shade(white,15%);
			}
			&:last-child {
				font-size: 16px;
				color: shade(white,30%);
				font-weight: 500;
				a {
					color: shade(white,30%);
				}
			}
			&:last-child:after {
				content: "";
			}
			a {
				border-bottom: 0;
				font-size: 16px;
				color: shade(white,50%);
			}
		}
		}
	}
}


@mixin list-block($size: tiny,$selector: li,$border-bottom: true){
	@if $size == tiny {
		#{$selector} { 
			padding: $padding--tiny;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	@if $size == small {
		#{$selector} { 
			padding: $padding--small;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	@if $size == normal {
		#{$selector} { 
			padding: $padding;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	@if $border-bottom == true {
		border-bottom: solid thin shade(white,15%);
	}
}

ul {
	margin-bottom: $margin;
}

ol {
	margin-left: $margin;
}

ul,
ol {
	padding-left: $padding;
}

dt {
	font-weight: 600;
}

dd {
	margin-left: 0;
}

.bullet-list {
	@include list-style(bullet);
}

.circle-list {
	@include list-style(circle);
}

.square-list {
	@include list-style(square);
}

.naked-list {
	@include list-style(bare);
	padding-left: 0;
	a {
		border-bottom: 0;
	}
}

.block-list {
	@include list-style(bare);
	@include list-block();
}

.horizontal-list {
	@include list-orientation(horizontal,$style: bars);
}

