$base-font-family: "freight-sans-pro";
$base-serif: "freight-text-pro";
$base-font-size: 19px !default;
$base-line-height: 31.35px !default;
$base-text-color: #3c3c3c !default;
$base-background-color: #fff !default;
$base-spacing-unit: ($base-line-height / $base-font-size);
$color-link: #5381ac;
$color-link-hover: #ecac00;











// $Weights
// -------------------------------------//

%light-weight {
  font-weight: 400;
}

%medium-weight {
  font-weight: 500;
}

%heavy-weight {
  font-weight: 700;
}