$white: #ffffff;
$off-white: #fafafa;
$light-grey: #f5f5f5;
$medium-grey: #b8b8b8;
$dark-grey: #797979;


// $Branding
// -------------------------------------//

$msu-gold: #ecac00;
$msu-gold--darker: #D29900;
$msu-navy: #002144;
$msu-blue: #5381ac;
$msu-blue--bright: #78BAF8;
$msu-blue--darker: #476E92;
$msu-blue--darkest: #34516C;



// $Text
// -------------------------------------//
//Create a text color hierarchy
//Should start from most important(darkest) to least important(lightest)