

{#common}.{common} {
    
}

.{common}:before {
    content:' ';
    font-size: {baseSize}px;
    vertical-align:middle;
    display: inline-block;
    background-image: url("{svgPath}");
    background-repeat: no-repeat;
    background-size: {relWidth}em {relHeight}em;
}

.no-svg .{common}:before {
    background-image: url("{pngPath}");
}{/common}




$icons: (

{#svg}

{name}:(
    background-position: {relPositionX}em {relPositionY}em,
    width: {relWidth}em,
    height: {relHeight}em,
),

{/svg}
)

