
.icon {
    
}

.icon:before {
    content:' ';
    font-size: 10px;
    vertical-align:middle;
    display: inline-block;
    background-image: url("images/svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 36.7em 684.6em;
}

.no-svg .icon:before {
    background-image: url("images/svg/sprite.png");
}
$icons: (


business-grey-24:(
    background-position: 0em 0em,
    width: 2.4em,
    height: 2.4em,
),


business-grey-48:(
    background-position: 0em -2.4em,
    width: 4.8em,
    height: 4.8em,
),


business-msu-blue-24:(
    background-position: 0em -7.2em,
    width: 2.4em,
    height: 2.4em,
),


business-msu-blue-48:(
    background-position: 0em -9.6em,
    width: 4.8em,
    height: 4.8em,
),


business-msu-gold-24:(
    background-position: 0em -14.4em,
    width: 2.4em,
    height: 2.4em,
),


business-msu-gold-48:(
    background-position: 0em -16.8em,
    width: 4.8em,
    height: 4.8em,
),


business-msu-navy-24:(
    background-position: 0em -21.6em,
    width: 2.4em,
    height: 2.4em,
),


business-msu-navy-48:(
    background-position: 0em -24em,
    width: 4.8em,
    height: 4.8em,
),


business-red-24:(
    background-position: 0em -28.8em,
    width: 2.4em,
    height: 2.4em,
),


business-red-48:(
    background-position: 0em -31.2em,
    width: 4.8em,
    height: 4.8em,
),


business-white-24:(
    background-position: 0em -36em,
    width: 2.4em,
    height: 2.4em,
),


business-white-48:(
    background-position: 0em -38.4em,
    width: 4.8em,
    height: 4.8em,
),


business-yellow-24:(
    background-position: 0em -43.2em,
    width: 2.4em,
    height: 2.4em,
),


business-yellow-48:(
    background-position: 0em -45.6em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-grey-24:(
    background-position: 0em -50.4em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-grey-48:(
    background-position: 0em -52.8em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-msu-blue-24:(
    background-position: 0em -57.6em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-msu-blue-48:(
    background-position: 0em -60em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-msu-gold-24:(
    background-position: 0em -64.8em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-msu-gold-48:(
    background-position: 0em -67.2em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-msu-navy-24:(
    background-position: 0em -72em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-msu-navy-48:(
    background-position: 0em -74.4em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-red-24:(
    background-position: 0em -79.2em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-red-48:(
    background-position: 0em -81.6em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-white-24:(
    background-position: 0em -86.4em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-white-48:(
    background-position: 0em -88.8em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-yellow-24:(
    background-position: 0em -93.6em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-yellow-48:(
    background-position: 0em -96em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-grey-24:(
    background-position: 0em -100.8em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-grey-48:(
    background-position: 0em -103.2em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-msu-blue-24:(
    background-position: 0em -108em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-msu-blue-48:(
    background-position: 0em -110.4em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-msu-gold-24:(
    background-position: 0em -115.2em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-msu-gold-48:(
    background-position: 0em -117.6em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-msu-navy-24:(
    background-position: 0em -122.4em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-msu-navy-48:(
    background-position: 0em -124.8em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-red-24:(
    background-position: 0em -129.6em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-red-48:(
    background-position: 0em -132em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-white-24:(
    background-position: 0em -136.8em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-white-48:(
    background-position: 0em -139.2em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-yellow-24:(
    background-position: 0em -144em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-yellow-48:(
    background-position: 0em -146.4em,
    width: 4.8em,
    height: 4.8em,
),


error-grey-24:(
    background-position: 0em -151.2em,
    width: 2.4em,
    height: 2.4em,
),


error-grey-48:(
    background-position: 0em -153.6em,
    width: 4.8em,
    height: 4.8em,
),


error-msu-blue-24:(
    background-position: 0em -158.4em,
    width: 2.4em,
    height: 2.4em,
),


error-msu-blue-48:(
    background-position: 0em -160.8em,
    width: 4.8em,
    height: 4.8em,
),


error-msu-gold-24:(
    background-position: 0em -165.6em,
    width: 2.4em,
    height: 2.4em,
),


error-msu-gold-48:(
    background-position: 0em -168em,
    width: 4.8em,
    height: 4.8em,
),


error-msu-navy-24:(
    background-position: 0em -172.8em,
    width: 2.4em,
    height: 2.4em,
),


error-msu-navy-48:(
    background-position: 0em -175.2em,
    width: 4.8em,
    height: 4.8em,
),


error-red-24:(
    background-position: 0em -180em,
    width: 2.4em,
    height: 2.4em,
),


error-red-48:(
    background-position: 0em -182.4em,
    width: 4.8em,
    height: 4.8em,
),


error-white-24:(
    background-position: 0em -187.2em,
    width: 2.4em,
    height: 2.4em,
),


error-white-48:(
    background-position: 0em -189.6em,
    width: 4.8em,
    height: 4.8em,
),


error-yellow-24:(
    background-position: 0em -194.4em,
    width: 2.4em,
    height: 2.4em,
),


error-yellow-48:(
    background-position: 0em -196.8em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-grey-24:(
    background-position: 0em -201.6em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-grey-48:(
    background-position: 0em -204em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-msu-blue-24:(
    background-position: 0em -208.8em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-msu-blue-48:(
    background-position: 0em -211.2em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-msu-gold-24:(
    background-position: 0em -216em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-msu-gold-48:(
    background-position: 0em -218.4em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-msu-navy-24:(
    background-position: 0em -223.2em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-msu-navy-48:(
    background-position: 0em -225.6em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-red-24:(
    background-position: 0em -230.4em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-red-48:(
    background-position: 0em -232.8em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-white-24:(
    background-position: 0em -237.6em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-white-48:(
    background-position: 0em -240em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-yellow-24:(
    background-position: 0em -244.8em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-yellow-48:(
    background-position: 0em -247.2em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-grey-24:(
    background-position: 0em -252em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-grey-48:(
    background-position: 0em -254.4em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-msu-blue-24:(
    background-position: 0em -259.2em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-msu-blue-48:(
    background-position: 0em -261.6em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-msu-gold-24:(
    background-position: 0em -266.4em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-msu-gold-48:(
    background-position: 0em -268.8em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-msu-navy-24:(
    background-position: 0em -273.6em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-msu-navy-48:(
    background-position: 0em -276em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-red-24:(
    background-position: 0em -280.8em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-red-48:(
    background-position: 0em -283.2em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-white-24:(
    background-position: 0em -288em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-white-48:(
    background-position: 0em -290.4em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-yellow-24:(
    background-position: 0em -295.2em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-yellow-48:(
    background-position: 0em -297.6em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-grey-24:(
    background-position: 0em -302.4em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-grey-48:(
    background-position: 0em -304.8em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-msu-blue-24:(
    background-position: 0em -309.6em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-msu-blue-48:(
    background-position: 0em -312em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-msu-gold-24:(
    background-position: 0em -316.8em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-msu-gold-48:(
    background-position: 0em -319.2em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-msu-navy-24:(
    background-position: 0em -324em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-msu-navy-48:(
    background-position: 0em -326.4em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-red-24:(
    background-position: 0em -331.2em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-red-48:(
    background-position: 0em -333.6em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-white-24:(
    background-position: 0em -338.4em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-white-48:(
    background-position: 0em -340.8em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-yellow-24:(
    background-position: 0em -345.6em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-yellow-48:(
    background-position: 0em -348em,
    width: 4.8em,
    height: 4.8em,
),


instagram-dark-large:(
    background-position: 0em -352.8em,
    width: 4.8em,
    height: 4.8em,
),


instagram-dark-small:(
    background-position: 0em -357.6em,
    width: 2.4em,
    height: 2.4em,
),


instagram-white-small:(
    background-position: 0em -360em,
    width: 2.4em,
    height: 2.4em,
),


mail-grey-24:(
    background-position: 0em -362.4em,
    width: 2.4em,
    height: 2.4em,
),


mail-grey-48:(
    background-position: 0em -364.8em,
    width: 4.8em,
    height: 4.8em,
),


mail-msu-blue-24:(
    background-position: 0em -369.6em,
    width: 2.4em,
    height: 2.4em,
),


mail-msu-blue-48:(
    background-position: 0em -372em,
    width: 4.8em,
    height: 4.8em,
),


mail-msu-gold-24:(
    background-position: 0em -376.8em,
    width: 2.4em,
    height: 2.4em,
),


mail-msu-gold-48:(
    background-position: 0em -379.2em,
    width: 4.8em,
    height: 4.8em,
),


mail-msu-navy-24:(
    background-position: 0em -384em,
    width: 2.4em,
    height: 2.4em,
),


mail-msu-navy-48:(
    background-position: 0em -386.4em,
    width: 4.8em,
    height: 4.8em,
),


mail-red-24:(
    background-position: 0em -391.2em,
    width: 2.4em,
    height: 2.4em,
),


mail-red-48:(
    background-position: 0em -393.6em,
    width: 4.8em,
    height: 4.8em,
),


mail-white-24:(
    background-position: 0em -398.4em,
    width: 2.4em,
    height: 2.4em,
),


mail-white-48:(
    background-position: 0em -400.8em,
    width: 4.8em,
    height: 4.8em,
),


mail-yellow-24:(
    background-position: 0em -405.6em,
    width: 2.4em,
    height: 2.4em,
),


mail-yellow-48:(
    background-position: 0em -408em,
    width: 4.8em,
    height: 4.8em,
),


menu-grey-24:(
    background-position: 0em -412.8em,
    width: 2.4em,
    height: 2.4em,
),


menu-grey-48:(
    background-position: 0em -415.2em,
    width: 4.8em,
    height: 4.8em,
),


menu-msu-blue-24:(
    background-position: 0em -420em,
    width: 2.4em,
    height: 2.4em,
),


menu-msu-blue-48:(
    background-position: 0em -422.4em,
    width: 4.8em,
    height: 4.8em,
),


menu-msu-gold-24:(
    background-position: 0em -427.2em,
    width: 2.4em,
    height: 2.4em,
),


menu-msu-gold-48:(
    background-position: 0em -429.6em,
    width: 4.8em,
    height: 4.8em,
),


menu-msu-navy-24:(
    background-position: 0em -434.4em,
    width: 2.4em,
    height: 2.4em,
),


menu-msu-navy-48:(
    background-position: 0em -436.8em,
    width: 4.8em,
    height: 4.8em,
),


menu-red-24:(
    background-position: 0em -441.6em,
    width: 2.4em,
    height: 2.4em,
),


menu-red-48:(
    background-position: 0em -444em,
    width: 4.8em,
    height: 4.8em,
),


menu-white-24:(
    background-position: 0em -448.8em,
    width: 2.4em,
    height: 2.4em,
),


menu-white-48:(
    background-position: 0em -451.2em,
    width: 4.8em,
    height: 4.8em,
),


menu-yellow-24:(
    background-position: 0em -456em,
    width: 2.4em,
    height: 2.4em,
),


menu-yellow-48:(
    background-position: 0em -458.4em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-grey-24:(
    background-position: 0em -463.2em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-grey-48:(
    background-position: 0em -465.6em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-msu-blue-24:(
    background-position: 0em -470.4em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-msu-blue-48:(
    background-position: 0em -472.8em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-msu-gold-24:(
    background-position: 0em -477.6em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-msu-gold-48:(
    background-position: 0em -480em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-msu-navy-24:(
    background-position: 0em -484.8em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-msu-navy-48:(
    background-position: 0em -487.2em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-red-24:(
    background-position: 0em -492em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-red-48:(
    background-position: 0em -494.4em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-white-24:(
    background-position: 0em -499.2em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-white-48:(
    background-position: 0em -501.6em,
    width: 4.8em,
    height: 4.8em,
),


more_horiz-yellow-24:(
    background-position: 0em -506.4em,
    width: 2.4em,
    height: 2.4em,
),


more_horiz-yellow-48:(
    background-position: 0em -508.8em,
    width: 4.8em,
    height: 4.8em,
),


msu-logo-dark-large:(
    background-position: 0em -513.6em,
    width: 36.7em,
    height: 12.6em,
),


reply-grey-24:(
    background-position: 0em -526.2em,
    width: 2.4em,
    height: 2.4em,
),


reply-grey-48:(
    background-position: 0em -528.6em,
    width: 4.8em,
    height: 4.8em,
),


reply-msu-blue-24:(
    background-position: 0em -533.4em,
    width: 2.4em,
    height: 2.4em,
),


reply-msu-blue-48:(
    background-position: 0em -535.8em,
    width: 4.8em,
    height: 4.8em,
),


reply-msu-gold-24:(
    background-position: 0em -540.6em,
    width: 2.4em,
    height: 2.4em,
),


reply-msu-gold-48:(
    background-position: 0em -543em,
    width: 4.8em,
    height: 4.8em,
),


reply-msu-navy-24:(
    background-position: 0em -547.8em,
    width: 2.4em,
    height: 2.4em,
),


reply-msu-navy-48:(
    background-position: 0em -550.2em,
    width: 4.8em,
    height: 4.8em,
),


reply-red-24:(
    background-position: 0em -555em,
    width: 2.4em,
    height: 2.4em,
),


reply-red-48:(
    background-position: 0em -557.4em,
    width: 4.8em,
    height: 4.8em,
),


reply-white-24:(
    background-position: 0em -562.2em,
    width: 2.4em,
    height: 2.4em,
),


reply-white-48:(
    background-position: 0em -564.6em,
    width: 4.8em,
    height: 4.8em,
),


reply-yellow-24:(
    background-position: 0em -569.4em,
    width: 2.4em,
    height: 2.4em,
),


reply-yellow-48:(
    background-position: 0em -571.8em,
    width: 4.8em,
    height: 4.8em,
),


search-grey-24:(
    background-position: 0em -576.6em,
    width: 2.4em,
    height: 2.4em,
),


search-grey-48:(
    background-position: 0em -579em,
    width: 4.8em,
    height: 4.8em,
),


search-msu-blue-24:(
    background-position: 0em -583.8em,
    width: 2.4em,
    height: 2.4em,
),


search-msu-blue-48:(
    background-position: 0em -586.2em,
    width: 4.8em,
    height: 4.8em,
),


search-msu-gold-24:(
    background-position: 0em -591em,
    width: 2.4em,
    height: 2.4em,
),


search-msu-gold-48:(
    background-position: 0em -593.4em,
    width: 4.8em,
    height: 4.8em,
),


search-msu-navy-24:(
    background-position: 0em -598.2em,
    width: 2.4em,
    height: 2.4em,
),


search-msu-navy-48:(
    background-position: 0em -600.6em,
    width: 4.8em,
    height: 4.8em,
),


search-red-24:(
    background-position: 0em -605.4em,
    width: 2.4em,
    height: 2.4em,
),


search-red-48:(
    background-position: 0em -607.8em,
    width: 4.8em,
    height: 4.8em,
),


search-white-24:(
    background-position: 0em -612.6em,
    width: 2.4em,
    height: 2.4em,
),


search-white-48:(
    background-position: 0em -615em,
    width: 4.8em,
    height: 4.8em,
),


search-yellow-24:(
    background-position: 0em -619.8em,
    width: 2.4em,
    height: 2.4em,
),


search-yellow-48:(
    background-position: 0em -622.2em,
    width: 4.8em,
    height: 4.8em,
),


sort-grey-24:(
    background-position: 0em -627em,
    width: 2.4em,
    height: 2.4em,
),


sort-grey-48:(
    background-position: 0em -629.4em,
    width: 4.8em,
    height: 4.8em,
),


sort-msu-blue-24:(
    background-position: 0em -634.2em,
    width: 2.4em,
    height: 2.4em,
),


sort-msu-blue-48:(
    background-position: 0em -636.6em,
    width: 4.8em,
    height: 4.8em,
),


sort-msu-gold-24:(
    background-position: 0em -641.4em,
    width: 2.4em,
    height: 2.4em,
),


sort-msu-gold-48:(
    background-position: 0em -643.8em,
    width: 4.8em,
    height: 4.8em,
),


sort-msu-navy-24:(
    background-position: 0em -648.6em,
    width: 2.4em,
    height: 2.4em,
),


sort-msu-navy-48:(
    background-position: 0em -651em,
    width: 4.8em,
    height: 4.8em,
),


sort-red-24:(
    background-position: 0em -655.8em,
    width: 2.4em,
    height: 2.4em,
),


sort-red-48:(
    background-position: 0em -658.2em,
    width: 4.8em,
    height: 4.8em,
),


sort-white-24:(
    background-position: 0em -663em,
    width: 2.4em,
    height: 2.4em,
),


sort-white-48:(
    background-position: 0em -665.4em,
    width: 4.8em,
    height: 4.8em,
),


sort-yellow-24:(
    background-position: 0em -670.2em,
    width: 2.4em,
    height: 2.4em,
),


sort-yellow-48:(
    background-position: 0em -672.6em,
    width: 4.8em,
    height: 4.8em,
),


twitter-dark-large:(
    background-position: 0em -677.4em,
    width: 2.4em,
    height: 2.4em,
),


twitter-dark-small:(
    background-position: 0em -679.8em,
    width: 2.4em,
    height: 2.4em,
),


twitter-white-small:(
    background-position: 0em -682.2em,
    width: 2.4em,
    height: 2.4em,
),


)

