---
template: two-column.html
title: Page intro
excerpt: Page intro
---

<div class="page-intro">
<div class="page-intro-container">
    <div class="intro-content">
        <div class="intro-content-wrapper">
            <h2>Earn college credit from home on your own time.</h2>
            <p class="lede">Online courses are a great way for you to complete your studies around your work schedule, family commitments, and busy lifestyle.
            </p>
        </div>
    </div>
    <div class="page-intro-aside">
        <nav class="page-anchors">
            <ul class="list">
                <li class="item"><a href="#Anchor1">Online registration</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
            </ul>
        </nav>
    </div>
    </div>
</div>