---
template: two-column.html
title: Main aside
excerpt: Main aside
---
<div>
<div class="page-intro">
    <div class="intro-content">
        <div class="intro-content-wrapper">
            <h2>Earn college credit from home on your own time.</h2>
            <p class="lede">Online courses are a great way for you to complete your studies around your work schedule, family commitments, and busy lifestyle.
            </p>
        </div>
    </div>
    <div class="page-intro-aside">
        <nav class="page-anchors">
            <ul class="list">
                <li class="item"><a href="#Anchor1">Online registration</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>
<div class="site-container">

<main class="main-content">
<article class="main-article">
    <div class="article-wrapper">
        <div class="video js-fitvids">
            <iframe src="https://player.vimeo.com/video/65223612" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Programs can be completed entirely online with courses taught by Murray State’s top-notch faculty. You can be assured of the quality of our university. Murray State has been continuously accredited by the Southern Association of Colleges and Schools Commission on Colleges (SACSCOC) since 1928.</p>
        <h3>Online Registration</h3>
        <h4>Summer 2015</h4>
        <p>The summer 2015 schedule is now available <a>here</a>.</p>
        <h4>Advance Registration</h4>
        <p>Advance registration begins April 7th. Check your registration time and date <a>here</a>.</p>
        <h4>Questions?</h4>
        <p>We are here to help, so feel free to give us a call or even chat with us.</p>
        <div class="contact-card">
            <dl>
                <dt>Email</dt>
                <dd><a>msu.online@murraystate.edu</a></dd>
                <dt>Phone</dt>
                <dd>(270) 809-2159 or (800) 669-7654</dd>
            </dl>
        </div>
    </div>
</article>
<aside class="main-aside">
    <div class="aside-wrapper">
        <div class="video js-fitvids">
            <iframe src="https://player.vimeo.com/video/65223612" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Programs can be completed entirely online with courses taught by Murray State’s top-notch faculty. You can be assured of the quality of our university. Murray State has been continuously accredited by the Southern Association of Colleges and Schools Commission on Colleges (SACSCOC) since 1928.</p>
        <h3>Online Registration</h3>
        <h4>Summer 2015</h4>
        <p>The summer 2015 schedule is now available <a>here</a>.</p>
        <h4>Advance Registration</h4>
        <p>Advance registration begins April 7th. Check your registration time and date <a>here</a>.</p>
        <h4>Questions?</h4>
        <p>We are here to help, so feel free to give us a call or even chat with us.</p>
        <div class="contact-card">
            <dl>
                <dt>Email</dt>
                <dd><a>msu.online@murraystate.edu</a></dd>
                <dt>Phone</dt>
                <dd>(270) 809-2159 or (800) 669-7654</dd>
            </dl>
        </div>
    </div>
</article>
</main>
</div>
