---
template: default.html
title: Article list
excerpt: Article list
---

<h2>Latest news</h2>
<div class="article-list">
    <article>
        <h3>100% Online MBA</h3>
        <p>This degree is the #1 ranked MBA Program in the State of Kentucky and #46 of some 240 Online MBA programs in the country! There are two main concentrations for the online MBA: the general MBA and the MBA with a Human Resource Management concentration.</p>
    </article>
    <article>
        <h3>New online degrees!</h3>
        <ul>
            <li><a>Accelerated online MPA program</a></li>
            <li><a>Online Master of Science in Information Systems</a></li>
            <li><a>Master's in Organizational Communication</a></li>
            <li><a>Master of Science in Agriculture</a></li>
        </ul>
    </article>
    <article>
        <h3>Free copy of Microsoft Office 365!</h3>
        <p>MSU students with a valed MSU email address can download Microsoft Office 365 <a>here</a></p>
    </article>
    <article>
        <h3>GRE prep courses</h3>
        <p>The next online course will begin on March 9th. Click <a>here</a> for more information</p>
    </article>
</div>