---
template: default.html
title: Accordion
excerpt: Accordion
---
<div class="page-intro">
<div class="page-intro-container">
    <div class="intro-content">
        <div class="intro-content-wrapper">
            <h2>Earn college credit from home on your own time.</h2>
            <p class="lede">Online courses are a great way for you to complete your studies around your work schedule, family commitments, and busy lifestyle.
            </p>
        </div>
    </div>
    <div class="page-intro-aside">
        <nav class="page-anchors">
            <ul class="list">
                <li class="item"><a href="#Anchor1">Online registration</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
            </ul>
        </nav>
    </div>
    </div>
</div>
<h3>Accordion Title</h3>
<div class="accordion">
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
        <div class="accordion-main">
            <h4>Description</h4>
            <p>The business administration program prepares students for a variety of career opportunities. It provides students with a broad overall understanding of the different functional disciplines of business and prepares them for positions of responsibility in business organizations.
            </p>
            </div>
            <aside class="accordion-aside">
            <h4 class="label">More info</h4>
            <p><a>Visit our website</a></p>
            <h4 class="label">Contact</h4>
            <div class="contact-card">
                <dl class="contact-id">
                    <dd class="contact-name">Stephanie Totty</dd>
                </dl>
                <dl class="contact-info">
                    <dd class="contact-email"><a href="mailto:msu.business@murraystate.edu">msu.business@murraystate.edu</a></dd>
                    <dd class="contact-phone">(270) 809-4196</dd>
                </dl>
            </div>
            </aside>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
</div>

<h3>Accordion Title</h3>
<div class="accordion">
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <h4>Description</h4>
            <p>The business administration program prepares students for a variety of career opportunities. It provides students with a broad overall understanding of the different functional disciplines of business and prepares them for positions of responsibility in business organizations.
            </p>
            <h4>Website</h4>
            <p><a>Click here to visit our website</a></p>
            <h4>Contact</h4>
            <div class="contact-card">
                <dl class="contact-id">
                    <dd class="contact-name">Stephanie Totty</dd>
                </dl>
                <dl class="contact-info">
                    <dd class="contact-email"><a href="mailto:msu.business@murraystate.edu">msu.business@murraystate.edu</a></dd>
                    <dd class="contact-phone">(270) 809-4196</dd>
                </dl>
            </div>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
    <h4 class="title js-expand-trigger">Accordion Content</h4>
    <div class="content js-expandable">
        <div class="content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
        </div>
    </div>
</div>
