---
template: default.html
title: Accordion
excerpt: Accordion
---

<h2>Accordion Title</h2>

<div class="accordion">

<h3 class="title js-expand-trigger">Accordion Content</h3>
<div class="content js-expandable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
</div>

<h3 class="title js-expand-trigger">Accordion Content</h3>
<div class="content js-expandable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
</div>

<h3 class="title js-expand-trigger">Accordion Content</h3>
<div class="content js-expandable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
</div>

<h3 class="title js-expand-trigger">Accordion Content</h3>
<div class="content js-expandable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
</div>

<h3 class="title js-expand-trigger">Accordion Content</h3>
<div class="content js-expandable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
</div>

<h3 class="title js-expand-trigger">Accordion Content</h3>
<div class="content js-expandable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia omnis eligendi aut non officiis ratione sequi quod nostrum, tenetur eum ipsa a asperiores aperiam adipisci laborum cupiditate. Perspiciatis, in.</p>
</div>

</div>