---
template: banner.html
title: Banner
excerpt: Banner
---


<table class="banner-editor">
    <thead class="banner-editor-head">
        <tr>
            <th>Image</th>
            <th>Options</th>
            <th>Context</th>
            <th>Headline</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr class="banner-editor-slide">
            <td>
                <div class="banner-editor-image"></div>
            </td>
            <td class="banner-editor-alignment">
                <select>
                    <option>Caption alignment</option>
                    <option value="top-left">top-left</option>
                    <option value="top-right">top-right</option>
                    <option value="centered">centered</option>
                </select>
                <select>
                    <option>Background mask</option>
                    <option value="default">default</option>
                    <option value="gold">gold</option>
                    <option value="navy">navy</option>
                </select>
            </td>
            
            <td class="banner-editor-context">banner context</td>
            <td class="banner-editor-headline">banner headline</td>
            <td class="banner-editor-description">this is the banner description.</td>
            <td class="banner-editor-link"><a href="">link</a></td>
        </tr>
        <tr class="banner-editor-slide">
            <td>
                <div class="banner-editor-image"></div>
            </td>
            <td class="banner-editor-alignment">
                <select>
                    <option>Caption alignment</option>
                    <option value="top-left">top-left</option>
                    <option value="top-right">top-right</option>
                    <option value="centered">centered</option>
                </select>
                <select>
                    <option>Background mask</option>
                    <option value="default">default</option>
                    <option value="gold">gold</option>
                    <option value="navy">navy</option>
                </select>
            </td>
            <td class="banner-editor-context">banner context</td>
            <td class="banner-editor-headline">banner headline</td>
            <td class="banner-editor-description">this is the banner description.</td>
            <td class="banner-editor-link"><a href="">link</a></td>
        </tr>
        <tr class="banner-editor-slide">
            <td>
                <div class="banner-editor-image"></div>
            </td>
            <td class="banner-editor-alignment">
                <select>
                    <option>Caption alignment</option>
                    <option value="top-left">top-left</option>
                    <option value="top-right">top-right</option>
                    <option value="centered">centered</option>
                </select>
                <select>
                    <option>Background mask</option>
                    <option value="default">default</option>
                    <option value="gold">gold</option>
                    <option value="navy">navy</option>
                </select>
            </td>
            <td class="banner-editor-context">banner context</td>
            <td class="banner-editor-headline">banner headline</td>
            <td class="banner-editor-description">this is the banner description.</td>
            <td class="banner-editor-link"><a href="">link</a></td>
        </tr>
        <tr class="banner-editor-slide">
            <td>
                <div class="banner-editor-image"></div>
            </td>
            <td class="banner-editor-alignment">
                <select>
                    <option>Caption alignment</option>
                    <option value="top-left">top-left</option>
                    <option value="top-right">top-right</option>
                    <option value="centered">centered</option>
                </select>
                <select>
                    <option>Background mask</option>
                    <option value="default">default</option>
                    <option value="gold">gold</option>
                    <option value="navy">navy</option>
                </select>
            </td>
            
            <td class="banner-editor-context">banner context</td>
            <td class="banner-editor-headline">banner headline</td>
            <td class="banner-editor-description">this is the banner description.</td>
            <td class="banner-editor-link"><a href="">link</a></td>
        </tr>
    </tbody>
</table>




