---
template: default.html
title: Code Snippet
excerpt: Code Snippet
---


<div class="snippet">
<div class="contact-card">
    <dl>
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
    </dl>
</div>
<pre><code class="language-markup">&lt;div class="contact-card">
  &lt;dl>
    &lt;dl class="contact-id">
      &lt;dd class="contact-name">Daniel Fukuhara&lt;/dd>
      &lt;dd class="contact-title">Web Specialist&lt;/dd>
      &lt;dd class="contact-department">Branding, Marketing and Communications&lt;/dd>
    &lt;/dl>
    &lt;dl class="contact-info">
      &lt;dd class="contact-building">427 Sparks Hall&lt;/dd>
      &lt;dd class="contact-street">526 South 6th Street&lt;/dd>
      &lt;dd class="contact-csz">Murray, KY, 42071&lt;/dd>
      &lt;dd class="contact-email">&lt;a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu&lt;/a>&lt;/dd>
      &lt;dd class="contact-phone">270.681.5866&lt;/dd>
    &lt;/dl>
  &lt;/dl>
&lt;/div></code></pre>
</div>
<script>
$(document).on('click', '.bio-expander', function() {
    $(this).siblings('.contact-bio').toggleClass('is-expanded');
})
$(document).on('click', '.code-expander', function() {
    $(this).next('.code').toggleClass('is-expanded');
})
</script>
