---
template: quick-links.html
title: Quick Links
excerpt: Quick Links
---

<div class="quick-links">
 <ul class="featured-items">
    <li>
        <a href="">
            <div class="icon gmail-logo"></div>
            <span>Racermail</span>
        </a>
    </li>
    <li>
        <a href="">
            <div class="icon canvas-logo"></div>
            <span>Canvas</span>
        </a>
    </li>
    <li>
        <a href="">
            <div class="icon banner-logo"></div>
            <span>MyGate</span>
        </a>
    </li>
</ul>

<nav class="tabs js-tabs">
    <ul>
        <li class="is-selected"><a href="#popular-list">Top links</a></li>
        <li><a href="#student-list">Students</a></li>
        <li><a href="#faculty-list">Faculty &amp; Staff</a></li>
    </ul>
</nav>

<nav class="tabbed-lists js-tabbed-lists">
    <ul id="popular-list" style="display: block;">
        <li><a href="">Winslow menu</a></li>
        <li><a href="">Calendar of events</a></li>
        <li><a href="">Find people</a></li>
    </ul>
    <ul id="student-list" style="display: none;">
        <li><a href="">Important dates</a></li>
        <li><a href="">Classes</a></li>
        <li><a href="">Book store</a></li>
        <li><a href="">Library</a></li>
        <li><a href="">Bursar's office</a></li>
    </ul>
    <ul id="faculty-list" style="display: none;">
        <li><a href="">Jobs</a></li>
        <li><a href="">Human Resources</a></li>
        <li><a href="">Title IX</a></li>
        <li><a href="">Racer Wellness</a></li>
        <li><a href="">Support Site</a></li>
    </ul>
</nav>

<a class="close-button js-mobile-quick-links-toggle">Close</a>
</div>
