---
template: bare.html
title: Side nav
excerpt: Side nav
---


<div class="interior-template page-with-side-nav">
    <nav class="page-breadcrumbs">
        <ul class="breadcrumbs-list">
            <li><a href="">Breadcrumb</a></li>
            <li>Breadcrumb</li>
        </ul>
    </nav>
    <aside class="page-aside">
        <nav class="aside-navigation">
            <ul class="nav-list">
                <li><a href="">Internships</a></li>
                <li><a href="">Internship paperwork</a></li>
                <li class="current"><a href="">Professional Developmental Training</a></li>
                <li><a href="">Employer internship information</a></li>
        </nav>
        <div class="nav-contact">
            <span class="contact-label">Get in touch</span>
            <dl>
            <dd>(270) 681-5866</dd>
            <dd><a href="">dbrewfukuhara@gmail.com</a></dd>
            <dd>526 South 6th Street<br/>Murray, KY 42071<br/></dd>
            </dl>
            <a href="">More info</a>
        </div>
        <div class="nav-social-media">
            <span class="social-label">Connect</span>
            <a class="social-icon instagram"></a>
            <a class="social-icon twitter"></a>
        </div>
    </aside>
    <main class="page-content">
        <a class="side-nav-toggle js-side-nav-toggle"></a>
        <div class="page-content-wrapper">
            <h1 class="page-title">Distance Learning</h1>
            <h2></h2>
            <h2>Earn college credit from home on your own time.</h2>
            <p class="lede">Online courses are a great way for you to complete your studies around your work schedule, family commitments, and busy lifestyle. Programs can be completed entirely online with courses taught by Murray State’s top-notch faculty. You can be assured of the quality of our university. Murray State has been continuously accredited by the Southern Association of Colleges and Schools Commission on Colleges (SACSCOC) since 1928.
            </p>
            <h3>Online Registration</h3>
            <h4>Summer &amp; Fall 2015</h4>
            <p>Registration is open! Click <a href="http://murraystate.net/distancelearning/courses-2/">here</a> for online course options. The next summer sessions begin on June 15, July 1, and July 13. The Fall 2015 semester begins on August 18th.
            </p>
            <h4>Questions?</h4>
            <p>We are here to help, so feel free to give us a call or even chat with us.</p>
        </div>
    </main>
</div>





<script>
$(document).on('click','.side-nav-toggle',function(){
	$('.page-with-side-nav').toggleClass('side-nav-is-visible');
})
</script>
