/*
Error: Undefined variable: "$base-spacing-unit".
        on line 3 of /Users/daniel/Sites/interior/assets/sass/object.list-block.scss

1: $list-block-namespace: null !default;
2: 
3: $list-block-padding: strip-units($base-spacing-unit) !default;
4: 
5: $list-block-padding--tiny: (0.25 * $list-block-padding) !default;
6: $list-block-padding--small: (0.5 * $list-block-padding) !default;
7: $list-block-padding--large: (1.25 * $list-block-padding) !default;
8: $list-block-padding--xlarge: (1.5 * $list-block-padding) !default;

Backtrace:
/Users/daniel/Sites/interior/assets/sass/object.list-block.scss:3
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `map'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:458:in `visit_variable'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/bin/compass:23:in `load'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/bin/compass:23:in `<main>'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/bin/ruby_executable_hooks:15:in `eval'
/Users/daniel/.rvm/gems/ruby-2.0.0-p598/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$base-spacing-unit\".\A         on line 3 of /Users/daniel/Sites/interior/assets/sass/object.list-block.scss\A \A 1: $list-block-namespace: null !default;\A 2: \A 3: $list-block-padding: strip-units($base-spacing-unit) !default;\A 4: \A 5: $list-block-padding--tiny: (0.25 * $list-block-padding) !default;\A 6: $list-block-padding--small: (0.5 * $list-block-padding) !default;\A 7: $list-block-padding--large: (1.25 * $list-block-padding) !default;\A 8: $list-block-padding--xlarge: (1.5 * $list-block-padding) !default;"; }
