@charset "UTF-8";
.msu-gold {
  background-color: #ecac00;
}

.msu-dark-gold {
  background-color: #d39900;
}

.msu-darker-gold {
  background-color: #b98700;
}

.msu-bright-gold {
  background-color: #ffbc06;
}

.msu-brighter-gold {
  background-color: #ffc320;
}

.msu-navy {
  background-color: #142C43;
}

.msu-dark-navy {
  background-color: #0e1f2f;
}

.msu-darker-navy {
  background-color: #08121c;
}

.msu-bright-navy {
  background-color: #1a3957;
}

.msu-brighter-navy {
  background-color: #20466a;
}

.msu-blue {
  background-color: #5381ac;
}

.msu-dark-blue {
  background-color: #4b749b;
}

.msu-darker-blue {
  background-color: #42678a;
}

.msu-bright-blue {
  background-color: #648eb4;
}

.msu-brighter-blue {
  background-color: #759abd;
}

.msu-teal {
  background-color: #1291B9;
}

.msu-dark-teal {
  background-color: #107fa2;
}

.msu-darker-teal {
  background-color: #0d6d8b;
}

.msu-bright-teal {
  background-color: #14a3d0;
}

.msu-brighter-teal {
  background-color: #17b5e7;
}

.lightest-grey {
  background-color: #fafafa;
}

.lighter-grey {
  background-color: #f6f6f6;
}

.grey {
  background-color: #f0f0f0;
}

.darker-grey {
  background-color: #e9e9e9;
}

.darkest-grey {
  background-color: #e3e3e3;
}

.copy h4 {
  color: #3c3c3c;
}

.copy-subtle h4 {
  color: #888888;
}

.copy-subtler h4 {
  color: #c8c8c8;
}

/*
$breakpoints: (
    "palm"          "screen and (max-width: 44.9375em)",
    "lap"           "screen and (min-width: 45em) and (max-width: 63.9375em)",
    "lap-and-up"    "screen and (min-width: 45em)",
    "portable"      "screen and (max-width: 63.9375em)",
    "desk"          "screen and (min-width: 64em)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;

*/
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 2.1.0
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}
.typl8-tera, .typl8-giga, .typl8-mega, .typl8-alpha, .typl8-beta, .typl8-gamma, h1, .typl8-delta, h2, .feed__title, .typl8-epsilon, h3, .article__headline, .typl8-zeta, h4, .helpful-links ul:before, .page-anchors ul:before {
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  margin-top: 0;
  color: #3c3c3c;
  font-weight: 600;
}

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right;
}

body {
  word-wrap: break-word;
}

pre code {
  word-wrap: normal;
}

html {
  font: normal 100%/1.65 "freight-sans-pro", sans-serif;
}
@media (min-width: 769px) {
  html {
    font: normal 118.75%/1.65 "freight-sans-pro", sans-serif;
  }
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #3c3c3c;
}

.typl8-tera {
  font-size: 159.50018px;
  font-size: 9.96876rem;
  margin-bottom: 96.66678px;
  margin-bottom: 6.04167rem;
}

.typl8-giga {
  font-size: 119.65505px;
  font-size: 7.47844rem;
  margin-bottom: 72.51821px;
  margin-bottom: 4.53239rem;
}

.typl8-mega {
  font-size: 89.76373px;
  font-size: 5.61023rem;
  margin-bottom: 54.40226px;
  margin-bottom: 3.40014rem;
}

.typl8-alpha {
  font-size: 67.33963px;
  font-size: 4.20873rem;
  margin-bottom: 40.8119px;
  margin-bottom: 2.55074rem;
}

.typl8-beta {
  font-size: 50.51735px;
  font-size: 3.15733rem;
  margin-bottom: 30.61658px;
  margin-bottom: 1.91354rem;
}

.typl8-gamma, h1 {
  font-size: 37.89749px;
  font-size: 2.36859rem;
  margin-bottom: 22.96817px;
  margin-bottom: 1.43551rem;
}

.typl8-delta, h2, .feed__title {
  font-size: 28.43022px;
  font-size: 1.77689rem;
  margin-bottom: 17.23044px;
  margin-bottom: 1.0769rem;
}

.typl8-epsilon, h3, .article__headline {
  font-size: 21.328px;
  font-size: 1.333rem;
  margin-bottom: 12.92606px;
  margin-bottom: 0.80788rem;
}

.typl8-zeta, h4, .helpful-links ul:before, .page-anchors ul:before {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 9.69697px;
  margin-bottom: 0.60606rem;
}

p {
  margin: auto auto 1.5em;
}
p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

.page-anchors ul li a, .site-navigation ul,
.base-text--bigger,
.paragraph--lede {
  font-size: 21.328px;
}

small {
  font-size: 65%;
}

input,
abbr,
.quick-links .tabs a,
.close-button,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  white-space: pre;
}
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

code {
  white-space: pre;
  font-family: monospace;
}

abbr, .quick-links .tabs a, .close-button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.68421rem;
  color: gray;
  letter-spacing: 0.05263rem;
}
abbr[title]:hover, .quick-links .tabs a[title]:hover, [title].close-button:hover {
  cursor: help;
}

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0;
}

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt,
.typl8-lining dd {
  display: inline;
  margin: 0;
}
.typl8-lining dt + dt:before,
.typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
.typl8-lining dd + dd:before {
  content: ", ";
}
.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
.typl8-dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
.typl8-dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em;
}
.typl8-pull-quote:before, .typl8-pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
.typl8-pull-quote:before {
  content: '“';
  top: 0;
  left: 0;
}
.typl8-pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
.transition--off-canvas,
.quick-links {
  transition-duration: 0.28s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.transition--off-canvas-top,
.site-navigation {
  transition-duration: 0.28s;
  transition-property: max-height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.transition--opacity,
.full-page-mask {
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.page-title {
  margin-bottom: 0;
}

.header__feed-link, .helpful-links a, .page-anchors ul li a, .quick-links a, .utility-nav .icon, .site-navigation a {
  border-bottom: none;
  text-decoration: none;
}

.position-centered,
.color-palette .color-card span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-family: "freight-sans-pro";
  line-height: 1.65;
  color: #3c3c3c;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  border-bottom: dotted thin;
  color: #5381ac;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #ecac00;
}

dt {
  font-weight: 600;
}

ul, ol, dd {
  margin-left: 31.35px;
  padding-left: 31.35px;
  margin-left: 1.65rem;
  padding-left: 1.65rem;
}

.link--no-decoration,
.header__feed-link,
.helpful-links a,
.page-anchors ul li a,
.quick-links a,
.utility-nav .icon,
.site-navigation a {
  text-decoration: none;
  border-bottom: none;
}

.article__image-wrapper .article__image-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #002144;
  opacity: 0.25;
  transition: ease-out 0.2s;
  z-index: 99;
}

.list--naked,
.helpful-links ul,
.page-anchors ul,
.quick-links .featured,
.quick-links #popular-list,
.quick-links #student-list,
.quick-links #faculty-list {
  list-style: none;
  padding-left: 0;
}

.list--horizontal > li,
.helpful-links ul > li {
  display: inline-block;
  margin-right: 1.65rem;
}

.grid,
.contact-card.inline > dl,
.quick-links .featured a,
.utility-nav ul,
.color-palette {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-cell, .color-palette .color-card,
.contact-card.inline > dl .profile-pic,
.contact-card.inline > dl .contact-id,
.contact-card.inline > dl .contact-info {
  flex: 1;
}

.grid--flex-cells > .grid-cell, .color-palette .grid--flex-cells > .color-card {
  display: flex;
}

.grid--start {
  justify-content: flex-start;
}

.grid--middle {
  justify-content: center;
}

.grid--between {
  justify-content: space-between;
}

.grid--end,
.utility-nav ul {
  justify-content: flex-end;
}

.grid--top {
  align-items: flex-start;
}

.grid--content-top {
  align-content: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center,
.quick-links .featured a {
  align-items: center;
}

.grid--center-all {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid-cell--top {
  align-self: flex-start;
}

.grid-cell--bottom {
  align-self: flex-end;
}

.grid-cell--center {
  align-self: center;
}

.grid--auto > .grid-cell, .color-palette .grid--auto > .color-card {
  flex: 0 1 auto;
}

.grid--fit > .grid-cell, .color-palette .grid--fit > .color-card {
  flex: 1;
}

.grid--full > .grid-cell, .color-palette .grid--full > .color-card {
  flex: 0 0 100%;
}

.contact-card.inline > dl > .profile-pic, .contact-card.inline > dl > .contact-id, .contact-card.inline > dl > .contact-info {
  flex: 0 0 100%;
}

.grid--1of2 > .grid-cell, .color-palette .grid--1of2 > .color-card {
  flex: 0 0 50%;
}

.grid--1of3 > .grid-cell, .color-palette .grid--1of3 > .color-card {
  flex: 0 0 33.3333%;
}

.grid--1of4 > .grid-cell, .color-palette .grid--1of4 > .color-card {
  flex: 0 0 25%;
}

.grid--1of5 > .grid-cell, .color-palette .grid--1of5 > .color-card {
  flex: 0 0 20%;
}

@media (min-width: 640px) {
  .small-grid--auto > .grid-cell, .color-palette .small-grid--auto > .color-card {
    flex: 0 1 auto;
  }

  .small-grid--fit > .grid-cell, .color-palette .small-grid--fit > .color-card {
    flex: 1;
  }

  .small-grid--full > .grid-cell, .color-palette .small-grid--full > .color-card {
    flex: 0 0 100%;
  }

  .small-grid--1of2 > .grid-cell, .color-palette .small-grid--1of2 > .color-card {
    flex: 0 0 50%;
  }

  .small-grid--1of3 > .grid-cell, .color-palette .small-grid--1of3 > .color-card {
    flex: 0 0 33.3333%;
  }

  .small-grid--1of4 > .grid-cell, .color-palette .small-grid--1of4 > .color-card {
    flex: 0 0 25%;
  }

  .small-grid--1of5 > .grid-cell, .color-palette .small-grid--1of5 > .color-card {
    flex: 0 0 20%;
  }
}
@media (min-width: 641px) {
  .med-grid--auto > .grid-cell, .color-palette .med-grid--auto > .color-card {
    flex: 0 1 auto;
  }

  .med-grid--fit > .grid-cell, .color-palette .med-grid--fit > .color-card {
    flex: 1;
  }

  .med-grid--full > .grid-cell, .color-palette .med-grid--full > .color-card {
    flex: 0 0 100%;
  }

  .med-grid--1of2 > .grid-cell, .color-palette .med-grid--1of2 > .color-card {
    flex: 0 0 50%;
  }

  .med-grid--1of3 > .grid-cell, .color-palette .med-grid--1of3 > .color-card {
    flex: 0 0 33.3333%;
  }

  .med-grid--1of4 > .grid-cell, .color-palette .med-grid--1of4 > .color-card {
    flex: 0 0 25%;
  }

  .med-grid--1of5 > .grid-cell, .color-palette .med-grid--1of5 > .color-card {
    flex: 0 0 20%;
  }
}
@media (min-width: 769px) {
  .large-grid--auto > .grid-cell, .color-palette .large-grid--auto > .color-card {
    flex: 0 1 auto;
  }

  .contact-card.inline > dl > .profile-pic, .contact-card.inline > dl > .contact-id, .contact-card.inline > dl > .contact-info {
    flex: 0 1 auto;
  }

  .large-grid--fit > .grid-cell, .color-palette .large-grid--fit > .color-card {
    flex: 1;
  }

  .large-grid--full > .grid-cell, .color-palette .large-grid--full > .color-card {
    flex: 0 0 100%;
  }

  .large-grid--1of2 > .grid-cell, .color-palette .large-grid--1of2 > .color-card {
    flex: 0 0 50%;
  }

  .large-grid--1of3 > .grid-cell, .color-palette .large-grid--1of3 > .color-card {
    flex: 0 0 33.3333%;
  }

  .large-grid--1of4 > .grid-cell, .color-palette .large-grid--1of4 > .color-card {
    flex: 0 0 25%;
  }

  .large-grid--1of5 > .grid-cell, .color-palette .large-grid--1of5 > .color-card {
    flex: 0 0 20%;
  }
}
.grid--end {
  justify-content: flex-end;
}

.utility-nav ul {
  justify-content: flex-end;
}

.grid--center {
  align-items: center;
}

.quick-links .featured a {
  align-items: center;
}

.grid--start {
  justify-content: flex-start;
}

@media (min-width: 640px) {
  .small-grid--end {
    justify-content: flex-end;
  }

  .small-grid--center {
    align-items: center;
  }

  .small-grid--start {
    justify-content: flex-start;
  }
}
@media (min-width: 641px) {
  .med-grid--end {
    justify-content: flex-end;
  }

  .med-grid--center {
    align-items: center;
  }

  .med-grid--start {
    justify-content: flex-start;
  }
}
@media (min-width: 769px) {
  .large-grid--end {
    justify-content: flex-end;
  }

  .large-grid--center {
    align-items: center;
  }

  .contact-card.inline > dl {
    align-items: center;
  }

  .large-grid--start {
    justify-content: flex-start;
  }
}
.grid--gutters-none {
  margin-left: 0;
}
.grid--gutters-none > .grid-cell, .color-palette .grid--gutters-none > .color-card {
  padding-left: 0;
}

.color-palette .color-palette {
  margin-left: 0;
}
.color-palette .color-palette > .grid-cell, .color-palette .color-palette > .color-card {
  padding-left: 0;
}

.grid--gutters-small {
  margin-left: -0.4125rem;
}
.grid--gutters-small > .grid-cell, .color-palette .grid--gutters-small > .color-card {
  padding-left: 0.825rem;
}

.grid--gutters {
  margin-left: -1.65rem;
}
.grid--gutters > .grid-cell, .color-palette .grid--gutters > .color-card {
  padding-left: 1.65rem;
}

.color-palette {
  margin-left: -1.65rem;
}
.color-palette > .grid-cell, .color-palette > .color-card {
  padding-left: 1.65rem;
}

.grid--gutters-large {
  margin-left: -2.0625rem;
}
.grid--gutters-large > .grid-cell, .color-palette .grid--gutters-large > .color-card {
  padding-left: 2.0625rem;
}

.grid--gutters-xlarge {
  margin-left: -2.475rem;
}
.grid--gutters-xlarge > .grid-cell, .color-palette .grid--gutters-xlarge > .color-card {
  padding-left: 2.475rem;
}

.grid--gutters-xxlarge {
  margin-left: -3.3rem;
}
.grid--gutters-xxlarge > .grid-cell, .color-palette .grid--gutters-xxlarge > .color-card {
  padding-left: 3.3rem;
}

@media (min-width: 640px) {
  .small-grid--gutters-none {
    margin-left: 0;
  }
  .small-grid--gutters-none > .grid-cell, .color-palette .small-grid--gutters-none > .color-card {
    padding-left: 0;
  }

  .small-grid--gutters-small {
    margin-left: -0.4125rem;
  }
  .small-grid--gutters-small > .grid-cell, .color-palette .small-grid--gutters-small > .color-card {
    padding-left: 0.825rem;
  }

  .small-grid--gutters {
    margin-left: -1.65rem;
  }
  .small-grid--gutters > .grid-cell, .color-palette .small-grid--gutters > .color-card {
    padding-left: 1.65rem;
  }

  .small-grid--gutters-large {
    margin-left: -2.0625rem;
  }
  .small-grid--gutters-large > .grid-cell, .color-palette .small-grid--gutters-large > .color-card {
    padding-left: 2.0625rem;
  }

  .small-grid--gutters-xlarge {
    margin-left: -2.475rem;
  }
  .small-grid--gutters-xlarge > .grid-cell, .color-palette .small-grid--gutters-xlarge > .color-card {
    padding-left: 2.475rem;
  }

  .small-grid--gutters-xxlarge {
    margin-left: -3.3rem;
  }
  .small-grid--gutters-xxlarge > .grid-cell, .color-palette .small-grid--gutters-xxlarge > .color-card {
    padding-left: 3.3rem;
  }
}
@media (min-width: 641px) {
  .med-grid--gutters-none {
    margin-left: 0;
  }
  .med-grid--gutters-none > .grid-cell, .color-palette .med-grid--gutters-none > .color-card {
    padding-left: 0;
  }

  .med-grid--gutters-small {
    margin-left: -0.4125rem;
  }
  .med-grid--gutters-small > .grid-cell, .color-palette .med-grid--gutters-small > .color-card {
    padding-left: 0.825rem;
  }

  .med-grid--gutters {
    margin-left: -1.65rem;
  }
  .med-grid--gutters > .grid-cell, .color-palette .med-grid--gutters > .color-card {
    padding-left: 1.65rem;
  }

  .med-grid--gutters-large {
    margin-left: -2.0625rem;
  }
  .med-grid--gutters-large > .grid-cell, .color-palette .med-grid--gutters-large > .color-card {
    padding-left: 2.0625rem;
  }

  .med-grid--gutters-xlarge {
    margin-left: -2.475rem;
  }
  .med-grid--gutters-xlarge > .grid-cell, .color-palette .med-grid--gutters-xlarge > .color-card {
    padding-left: 2.475rem;
  }

  .med-grid--gutters-xxlarge {
    margin-left: -3.3rem;
  }
  .med-grid--gutters-xxlarge > .grid-cell, .color-palette .med-grid--gutters-xxlarge > .color-card {
    padding-left: 3.3rem;
  }
}
@media (min-width: 769px) {
  .large-grid--gutters-none {
    margin-left: 0;
  }
  .large-grid--gutters-none > .grid-cell, .color-palette .large-grid--gutters-none > .color-card {
    padding-left: 0;
  }

  .large-grid--gutters-small {
    margin-left: -0.4125rem;
  }
  .large-grid--gutters-small > .grid-cell, .color-palette .large-grid--gutters-small > .color-card {
    padding-left: 0.825rem;
  }

  .large-grid--gutters {
    margin-left: -1.65rem;
  }
  .large-grid--gutters > .grid-cell, .color-palette .large-grid--gutters > .color-card {
    padding-left: 1.65rem;
  }

  .large-grid--gutters-large {
    margin-left: -2.0625rem;
  }
  .large-grid--gutters-large > .grid-cell, .color-palette .large-grid--gutters-large > .color-card {
    padding-left: 2.0625rem;
  }

  .contact-card.inline > dl {
    margin-left: -2.0625rem;
  }
  .contact-card.inline > dl > .profile-pic, .contact-card.inline > dl > .contact-id, .contact-card.inline > dl > .contact-info {
    padding-left: 2.0625rem;
  }

  .large-grid--gutters-xlarge {
    margin-left: -2.475rem;
  }
  .large-grid--gutters-xlarge > .grid-cell, .color-palette .large-grid--gutters-xlarge > .color-card {
    padding-left: 2.475rem;
  }

  .large-grid--gutters-xxlarge {
    margin-left: -3.3rem;
  }
  .large-grid--gutters-xxlarge > .grid-cell, .color-palette .large-grid--gutters-xxlarge > .color-card {
    padding-left: 3.3rem;
  }
}
.container,
.site-header__wrapper,
.site-content__wrapper,
.footer,
.site-navigation ul {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.site-header {
  background: #ecac00;
  color: #ffffff;
  padding-top: 2.0625rem;
  padding-bottom: 0.825rem;
  position: relative;
}

.site-content {
  padding: 2.475rem 0;
}

.site-content h2,
.site-content h3 {
  margin-top: 1.65rem;
}

.site-content h1 + h2,
.site-content h2 + h3 {
  margin-top: 0;
}

.image--circle,
.contact-card .profile-pic > figure {
  position: relative;
  padding: 0 0 100% 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}
.image--circle img,
.contact-card .profile-pic > figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-full > figure {
  position: relative;
  padding: 0 0 33.33333% 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}
.image-full > figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__image-wrapper .article__image-inner, .image-right > figure, .image-left > figure {
  position: relative;
  padding: 0 0 75% 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}
.article__image-wrapper .article__image-inner img, .image-right > figure img, .image-left > figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-center > figure {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}
.image-center > figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-palette .color-card .inner {
  position: relative;
  padding: 0 0 75% 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}
.color-palette .color-card .inner div {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-block,
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-block__item,
.list-block > li,
.article-list > li,
.article--snippet {
  padding: 1.65rem;
}

.list-block--tiny > .list-block__item,
.list-block.list-block--tiny > li,
.article-list.list-block--tiny > li,
.list-block--tiny > .article--snippet {
  padding: 0.4125rem;
}

.list-block--small > .list-block__item,
.list-block.list-block--small > li,
.article-list.list-block--small > li,
.list-block--small > .article--snippet {
  padding: 0.825rem;
}

.list-block--large > .list-block__item,
.list-block.list-block--large > li,
.article-list.list-block--large > li,
.list-block--large > .article--snippet {
  padding: 2.0625rem;
}

.list-block--xlarge > .list-block__item,
.list-block.list-block--xlarge > li,
.article-list.list-block--xlarge > li,
.list-block--xlarge > .article--snippet {
  padding: 2.475rem;
}

.list-block--xxlarge > .list-block__item,
.list-block.list-block--xxlarge > li,
.article-list.list-block--xxlarge > li,
.list-block--xxlarge > .article--snippet {
  padding: 3.3rem;
}

.demo-box {
  padding: 1.65rem;
  background: #ffffff;
  border: solid thin #eee;
}

.table {
  width: 100%;
}
.table th,
.table td {
  padding: 0.825rem 0.825rem 0.4125rem 0.4125rem;
  text-align: left;
}
.table th {
  font-weight: 600;
  color: #b8b8b8;
  border-bottom: solid #eee;
}
.table td {
  border-bottom: solid thin #eee;
  font-size: smaller;
  font-weight: 500;
}

.off-canvas--right,
.quick-links {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%);
}
.off-canvas--right.is-showing,
.is-showing.quick-links {
  transform: translateX(0);
}

.gmail-logo:before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/2000px-New_Logo_Gmail.svg.png") !important;
  width: 2.4em;
  height: 2.4em;
  background-size: contain !important;
  background-position: center;
}

.canvas-logo:before {
  background-image: url("http://a5.mzstatic.com/us/r30/Purple1/v4/80/1d/c7/801dc739-ae47-db66-df0e-1780aa7325f5/icon175x175.jpeg") !important;
  width: 2.4em;
  height: 2.4em;
  background-size: 2.4em 2.4em !important;
}

.banner-logo:before {
  background-image: url("http://www.ellucian.com/uploadedImages/Images/Software/banner-by-ellucian.png") !important;
  width: 2.4em;
  height: 2.4em;
  background-size: cover !important;
}

.site-footer {
  padding: 1.65rem;
  font-size: smaller;
  color: white;
  background: #4d4e53;
}

.feed__header {
  display: inline-block;
  width: 100%;
  border-bottom: solid #eee;
  position: relative;
  padding: 0 1rem;
}

.header__feed-link {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.feed__title {
  margin-bottom: 0;
}

.article--snippet {
  position: relative;
  width: 100%;
  display: inline-block;
  border-bottom: solid thin #eee;
}
.article--snippet p {
  font-family: "freight-text-pro";
  margin: 0;
}
.article--snippet:hover .article__image-inner:before {
  opacity: 0;
}

.article__link-mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-bottom: 0;
}

.article__meta-content {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.68421rem;
  color: #797979;
  letter-spacing: 0.05263rem;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}
.article__meta-content > span {
  font-size: 16px;
  letter-spacing: normal;
}

.article__headline {
  position: relative;
  z-index: 200;
}
.article__headline a {
  color: #3c3c3c;
  border-bottom: 0;
  text-decoration: none;
}

.article__image-wrapper {
  width: 25%;
  float: left;
  margin-right: 1.5rem;
}

.helpful-links {
  display: inline-block;
  width: 100%;
}
.helpful-links ul:before {
  content: "Helpful Links";
  color: #b8b8b8;
  margin-right: 1.65rem;
}
.helpful-links.middle {
  border-top: solid thin #eee;
  border-bottom: solid thin #eee;
  margin-bottom: 1.65rem;
}
.helpful-links.bottom {
  border-top: solid #eee;
}

.contact-card {
  background: #ffffff;
  border: solid #f5f5f5;
  display: inline-block;
  padding: 0.825rem 1.65rem 1.65rem;
}
.contact-card dl {
  margin: 0;
}
.contact-card dd {
  margin-left: 0;
  padding-left: 0;
  font-weight: 500;
}
.contact-card .profile-pic {
  max-width: 140px;
  min-width: 140px;
  margin-bottom: 0.825rem;
}
@media (min-width: 769px) {
  .contact-card .profile-pic {
    margin-bottom: 0;
  }
}
.contact-card .contact-info {
  font-size: smaller;
}
.contact-card.stacked .contact-id, .contact-card.stacked.inline .contact-id {
  margin-bottom: 0.825rem;
  padding-bottom: 0.825rem;
  border-bottom: solid thin #eee;
}
.contact-card.inline > dl .contact-id {
  margin-bottom: 0.825rem;
  padding-bottom: 0.825rem;
  border-bottom: solid thin #eee;
}
@media (min-width: 769px) {
  .contact-card.inline > dl .contact-id {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .contact-card.inline > dl .contact-info {
    margin-left: 1.65rem;
    border-left: solid thin #eee;
  }
}
.contact-card.no-labels {
  padding: 1.65rem;
}
.contact-card.no-labels dt {
  display: none;
}
.contact-card.no-labels dd[data-contact-id="name"] {
  font-weight: 600;
  font-size: 1rem;
}
.contact-card.no-labels dd[data-contact-id="position"] {
  font-size: 1rem;
}
.contact-card.no-labels dd[data-contact-id="department"] {
  font-weight: 500;
  margin-bottom: 0.4125rem;
  font-size: 1rem;
}

.page-anchors {
  border-left: solid 4px #f5f5f5;
}
.page-anchors ul:before {
  content: "On this page";
  display: block;
  color: #797979;
}

.image--circle,
.contact-card .profile-pic > figure {
  border-radius: 50%;
}

.image-full {
  width: 100%;
  margin-bottom: 1.65rem;
}
.image-right {
  width: 100%;
  float: right;
  margin-left: 1.65rem;
  margin-bottom: 1.65rem;
}
@media (min-width: 769px) {
  .image-right {
    width: 33%;
  }
}
.image-left {
  width: 100%;
  float: left;
  margin-right: 1.65rem;
  margin-bottom: 1.65rem;
}
@media (min-width: 769px) {
  .image-left {
    width: 33%;
  }
}
.image-center {
  width: 66%;
  margin-right: auto;
  margin-bottom: 1.65rem;
  margin-left: auto;
}
.image-full > figcaption, .image-right > figcaption, .image-left > figcaption, .image-center > figcaption {
  font-size: 0.84211rem;
  padding: 0.4125rem;
  color: #797979;
  text-align: center;
}

.helper {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: #1291B9;
  padding: 0.4125rem 0.825rem;
  z-index: 998;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  right: 48px;
  line-height: 1;
  border-radius: 2px;
  margin-top: 0.4125rem;
}
.helper:after {
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-left: 0.75em solid #1291B9;
  border-bottom: 0.5em solid transparent;
  border-top: 0.5em solid transparent;
  position: absolute;
  transform: translateX(100%);
  right: 0;
}

.quick-links {
  -webkit-backface-visibility: hidden;
  background: #f8f9fb;
  z-index: 1000;
}
.quick-links.is-showing {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.quick-links .featured {
  margin: 0;
  padding: 1.65rem 0.825rem 0.825rem;
  background: #1a3957;
}
.quick-links .featured a {
  padding: 0.4125rem 0.825rem;
  color: #fafafa;
}
.quick-links .featured a:hover {
  color: #ecac00;
}
.quick-links .featured .icon {
  margin-right: 0.825rem;
  width: 2.4em;
}
.quick-links .tabs {
  background: #142C43;
}
.quick-links .tabs ul {
  padding-left: 0;
  margin: 0;
  padding: 0 0.825rem;
  padding-bottom: 0;
  border-bottom: solid thin #142C43;
}
.quick-links .tabs li {
  display: inline-block;
  text-align: center;
  margin-right: 0;
  padding: 0 0.825rem;
  color: #b8b8b8;
  margin-bottom: -1px;
}
.quick-links .tabs a {
  color: #8995a1;
  padding: 0.4125rem;
  display: inline-block;
}
.quick-links .tabs a:hover {
  color: #c4cad0;
}
.quick-links .tabs .is-selected a {
  color: #ecac00;
}
.quick-links .list-group {
  position: relative;
  padding-left: 1.65rem;
  margin-left: 0;
}
.quick-links .list-group li {
  width: 100%;
  display: inline-block;
}
.quick-links .list-group a {
  padding: 0.4125rem;
  border-bottom: solid thin #dbdfe2;
  width: 100%;
  display: inline-block;
}
.quick-links .list-group a:hover {
  color: #ecac00;
}
.quick-links #popular-list,
.quick-links #student-list,
.quick-links #faculty-list {
  position: absolute;
  margin-left: 0;
}

.close-button {
  padding: 0.4125rem 0.825rem;
  background: #f2f2f2;
  color: #bfbfbf;
  position: absolute;
  bottom: 1.65rem;
  left: 50%;
  transform: translateX(-50%);
}
.close-button:hover {
  color: #7f7f7f;
}
@media (min-width: 641px) {
  .close-button {
    display: none;
  }
}

.utility-nav {
  background: #142C43;
}
.utility-nav .icon {
  display: inline-block;
  padding: 0.4125rem;
}
.utility-nav .icon:hover {
  background: #5381ac;
}
.utility-nav .icon.sort-white-24:before {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.full-page-mask {
  top: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.full-page-mask.is-showing {
  height: 100%;
  opacity: 1;
}

.icon.menu-white-48 {
  opacity: 0.25;
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.icon.menu-white-48:hover {
  opacity: 0.75;
}
.icon.menu-white-48.is-toggled {
  opacity: 1;
}

.site-navigation {
  overflow: hidden;
  max-height: 0;
  background: #f5f5f5;
}
.site-navigation ul {
  padding-top: 1.65rem;
  padding-bottom: 1.65rem;
  color: #fff;
}
.site-navigation ul ul {
  font-size: 1rem;
  padding-top: 0.4125rem;
  padding-bottom: 0.825rem;
}
.site-navigation ul ul a {
  font-weight: 500;
  color: #797979;
}
.site-navigation a {
  color: #b8b8b8;
  font-weight: 600;
}
.site-navigation a.is-current, .site-navigation a:hover {
  color: #648eb4;
}

.site-navigation.is-visible {
  max-height: 1000px;
}

.color-palette .color-card span {
  color: #fff;
  font-weight: 600;
}
.color-palette .color-palette {
  margin-top: 1.65rem;
}
.color-palette .color-palette .color-card {
  padding-left: 0;
}
