---
template: two-column.html
title: Navigation bar
excerpt: Navigation bar
---
<div class="banner js-unslider">
    <div class="banner-slider js-slider">
        <div class="banner-slide js-slide">
            <figure class="banner-figure">
                <img class="banner-image" src="https://c1.staticflickr.com/9/8715/17125150408_7fa1288b55_k.jpg" />
            </figure>
            <div class="banner-caption-wrapper">
                <figcaption class="banner-caption">
                    <div class="banner-context">banner types</div>
                    <h1 class="banner-headline">Bottom left</h1>
                    <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a class="banner-button">Read more</a>
                </figcaption>
            </div>
        </div>
        <div class="banner-slide top-right js-slide">
            <figure class="banner-figure">
                <img class="banner-image" src="https://farm9.staticflickr.com/8592/16265009129_bdf46d7d29_b.jpg" />
            </figure>
            <div class="banner-caption-wrapper">
                <figcaption class="banner-caption">
                    <div class="banner-context">banner types</div>
                    <h1 class="banner-headline">Top right</h1>
                    <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a class="banner-button">
                        <span>Read more</span>
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="banner-slide top-left js-slide">
            <figure class="banner-figure">
                <img class="banner-image" src="https://c2.staticflickr.com/8/7585/17148946812_1fd3ae9067_k.jpg" />
            </figure>
            <div class="banner-caption-wrapper">
                <figcaption class="banner-caption">
                    <div class="banner-context">banner types</div>
                    <h1 class="banner-headline">Top left</h1>
                    <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a class="banner-button">
                        <span>Read more</span>
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="banner-slide gold centered js-slide">
            <figure class="banner-figure">
                <img class="banner-image" src="https://farm9.staticflickr.com/8654/16450282692_e8f3e42b7d_b.jpg" />
            </figure>
            <div class="banner-caption-wrapper">
                <figcaption class="banner-caption">
                    <div class="banner-context">banner types</div>
                    <h1 class="banner-headline">Centered & Gold</h1>
                    <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a class="banner-button">
                        <span>Read more</span>
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="banner-slide navy centered js-slide">
            <figure class="banner-figure">
                <img class="banner-image" src="https://farm9.staticflickr.com/8654/16450282692_e8f3e42b7d_b.jpg" />
            </figure>
            <div class="banner-caption-wrapper">
                <figcaption class="banner-caption">
                    <div class="banner-context">banner types</div>
                    <h1 class="banner-headline">Centered & Navy</h1>
                    <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a class="banner-button">
                        <span>Read more</span>
                    </a>
                </figcaption>
            </div>
        </div>
    </div>
</div>
<nav class="navigation-bar">
    <ul class="navigation-list">
        <li><a>Home</a></li>
        <li><a>What to expect</a></li>
        <li><a>Programs</a></li>
        <li><a>Courses</a></li>
        <li><a>Paying for College</a></li>
        <li><a>Apply</a></li>
        <li><a>Current Students</a></li>
        <li><a>Request Information</a></li>
    </ul>
</nav>
<div class="page-intro">
    <div class="intro-content">
        <div class="intro-content-wrapper">
            <h2>Earn college credit from home on your own time.</h2>
            <p class="lede">Online courses are a great way for you to complete your studies around your work schedule, family commitments, and busy lifestyle.
            </p>
        </div>
    </div>
    <div class="page-intro-aside">
        <nav class="page-anchors">
            <ul class="list">
                <li class="item"><a href="#Anchor1">Online registration</a></li>
                <li class="item"><a href="#Anchor2">Calendar</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="site-container">
    <main class="main-content">
        <div class="main-content-wrapper">
            <div class="video js-fitvids">
                <iframe src="https://player.vimeo.com/video/65223612" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p>Programs can be completed entirely online with courses taught by Murray State’s top-notch faculty. You can be assured of the quality of our university. Murray State has been continuously accredited by the Southern Association of Colleges and Schools Commission on Colleges (SACSCOC) since 1928.</p>
            <h3>Online Registration</h3>
            <h4>Summer 2015</h4>
            <p>The summer 2015 schedule is now available <a>here</a>.</p>
            <h4>Advance Registration</h4>
            <p>Advance registration begins April 7th. Check your registration time and date <a>here</a>.</p>
            <h4>Questions?</h4>
            <p>We are here to help, so feel free to give us a call or even chat with us.</p>
            <div class="contact-card">
                <dl>
                    <dt>Email</dt>
                    <dd><a>msu.online@murraystate.edu</a></dd>
                    <dt>Phone</dt>
                    <dd>(270) 809-2159 or (800) 669-7654</dd>
                </dl>
            </div>
        </div>
    </main>
    <aside class="aside-content">
        <div class="instagram-widget">
            <div class="instagram-widget-header">
                <div class="icon instagram"></div>
                <a class="instagram-username">murraystateuniv</a>
            </div>
            <div id="singlefeed" class="instagram-feed"></div>
        </div>
        <div class="twitter-widget">
            <span class="icon twitter"></span>
            <a class="twitter-username">@murraystonline</a>
            <div class="twitter-feed-one">
            </div>
        </div>
    </aside>
</div>
<div class="quote-slider js-quote-slider">
    <h1 class="slide-title">What students are saying</h1>
    <div class="quote-slides js-quote-slides">
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "I no longer have to commute to and from Murray. I traveled 40 miles one way as an undergraduate. Now, I can do everything from home!"
            </p>
            <cite>
                <mark>Daniel Fukuhara</mark>
                Marketing &amp; Advertising
            </cite>
        </blockquote>
        <blockquote class="quote-slide js-quote-slide">
            <p>
                "Online learning has allowed me to continue my education as well as work and support my family. I am able to balance education, work, and my family life much easier."
            </p>
            <cite>
                <mark>Daniel Fukuhara</mark>
                Marketing &amp; Advertising
            </cite>
        </blockquote>
        <blockquote class="quote-slide js-quote-slide is-active">
            <p>
                "I have the opportunity to complete my master’s and work full-time without any scheduling problems. "
            </p>
            <cite>
                <mark>Daniel Fukuhara</mark>
                Marketing &amp; Advertising
            </cite>
        </blockquote>
    </div>
    <div class="arrows">
        <a class="arrow-prev js-arrow-prev"></a>
        <a class="arrow-next js-arrow-next"></a>
    </div>
</div>
<script src="http://f.cl.ly/items/3o2z3b1R3G250G1t0w2L/instafeed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script type="text/javascript">
var singlefeed = new Instafeed({
    get: 'user',
    sortBy: 'most-recent',
    userId: 18916390,
    accessToken: '6678174.467ede5.205a03ebc4b74d4082823781c3149575',
    target: 'singlefeed',
    resolution: 'low_resolution',
    limit: 1,
    {% raw %}
    template: '<div class="post"><a class="post-link photo-wrapper" href="{{link}}"><img class="photo" src="{{image}}" /></a><div class="post-caption">{{caption}}</div><div class="time-posted">{{model.created_time}}</div></div>',
    {% endraw %}
    after: function() {
        $('.time-posted').each(function() {
            var unixDate = +($(this).text() * 1000);
            var date = moment(unixDate).fromNow();
            $(this).text(date);
        });
    }
});
singlefeed.run();
$(function() {

    var config1 = {
        "id": '605433577849954304',
        "domId": 'twitter-feed-one',
        "showImages": false,
        "maxTweets": 3
    };
    twitterFetcher.fetch(config1);


    var config2 = {
        "id": '605433577849954304',
        "domId": 'twitter-feed-two',
        "showImages": false,
        "maxTweets": 3
    };
    twitterFetcher.fetch(config2);
});
</script>
