<h3>Card</h3>
<div class="box--contact contact--noLabels">
    <dl>
        <dt>Name</dt>
        <dd>Daniel Fukuhara</dd>
        <dt>Office Name</dt>
        <dd>Branding, Marketing and Communications</dd>
        <dt>Office Location</dt>
        <dd>427 Sparks Hall</dd>
        <dt>Address</dt>
        <dd>526 South 6th Street</dd>
        <dt>City, State, Zipcode</dt>
        <dd>Murray, KY, 42071</dd>
        <dt>Email</dt>
        <dd>dfukuhara@murraystate.edu</dd>
        <dt>Phone</dt>
        <dd>270.681.5866</dd>
    </dl>
</div>
<h3>With Labels</h3>
<div class="box--contact">
    <dl>
        <dt>Name</dt>
        <dd>Daniel Fukuhara</dd>
        <dt>Address</dt>
        <dd>526 South 6th Street</dd>
        <dt>City, State, Zipcode</dt>
        <dd>Murray, KY, 42071</dd>
        <dt>Email</dt>
        <dd>dfukuhara@murraystate.edu</dd>
        <dt>Phone</dt>
        <dd>270.681.5866</dd>
    </dl>
</div>

<h3>List</h3>
<ul class="box--contact contact--noLabels list--contact">
    <li>
        <dl>
            <dt>Name</dt>
            <dd>Daniel Fukuhara</dd>
            <dt>Office Name</dt>
            <dd>Branding, Marketing and Communications</dd>
            <dt>Office Location</dt>
            <dd>427 Sparks Hall</dd>
            <dt>Address</dt>
            <dd>526 South 6th Street</dd>
            <dt>City, State, Zipcode</dt>
            <dd>Murray, KY, 42071</dd>
            <dt>Email</dt>
            <dd>dfukuhara@murraystate.edu</dd>
            <dt>Phone</dt>
            <dd>270.681.5866</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Name</dt>
            <dd>Daniel Fukuhara</dd>
            <dt>Office Name</dt>
            <dd>Branding, Marketing and Communications</dd>
            <dt>Office Location</dt>
            <dd>427 Sparks Hall</dd>
            <dt>Address</dt>
            <dd>526 South 6th Street</dd>
            <dt>City, State, Zipcode</dt>
            <dd>Murray, KY, 42071</dd>
            <dt>Email</dt>
            <dd>dfukuhara@murraystate.edu</dd>
            <dt>Phone</dt>
            <dd>270.681.5866</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Name</dt>
            <dd>Daniel Fukuhara</dd>
            <dt>Office Name</dt>
            <dd>Branding, Marketing and Communications</dd>
            <dt>Office Location</dt>
            <dd>427 Sparks Hall</dd>
            <dt>Address</dt>
            <dd>526 South 6th Street</dd>
            <dt>City, State, Zipcode</dt>
            <dd>Murray, KY, 42071</dd>
            <dt>Email</dt>
            <dd>dfukuhara@murraystate.edu</dd>
            <dt>Phone</dt>
            <dd>270.681.5866</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Name</dt>
            <dd>Daniel Fukuhara</dd>
            <dt>Office Name</dt>
            <dd>Branding, Marketing and Communications</dd>
            <dt>Office Location</dt>
            <dd>427 Sparks Hall</dd>
            <dt>Address</dt>
            <dd>526 South 6th Street</dd>
            <dt>City, State, Zipcode</dt>
            <dd>Murray, KY, 42071</dd>
            <dt>Email</dt>
            <dd>dfukuhara@murraystate.edu</dd>
            <dt>Phone</dt>
            <dd>270.681.5866</dd>
        </dl>
    </li>
</ul>
