---
template: default.html
title: Grid
excerpt: Grid
---

<h3>Sizing by Parent</h3>
<p>The parent container determines the size of it's children.</p>
<div class="snippet">
<div class="grid grid--1of4 grid--gutters">
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid grid--1of4 grid--gutters">
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>
<div class="helpful-links">
<ul class="list">
<li class="list-item"><a href="">Link</a></li>
<li class="list-item"><a href="">Link</a></li>
<li class="list-item"><a href="">Link</a></li>
</ul>
</div>

<div class="snippet">
<div class="grid grid--1of3 grid--gutters">
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid grid--1of3 grid--gutters">
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>

<div class="snippet">
<div class="grid grid--1of2 grid--gutters">
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid grid--1of2 grid--gutters">
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>

<h3>Sizing by Block</h3>
<p>Blocks are sized individually.</p>
<div class="snippet">
<div class="grid grid--gutters">
<div class="grid-cell u-1of3"><div class="grid-cell-demo"></div></div>
<div class="grid-cell u-2of3"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid grid--gutters">
  &lt;div class="grid-cell u-1of3">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell u-2of3">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>

<div class="snippet">
<div class="grid grid--gutters">
<div class="grid-cell u-1of4"><div class="grid-cell-demo"></div></div>
<div class="grid-cell u-3of4"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid grid--gutters">
  &lt;div class="grid-cell u-1of4">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell u-3of4">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>

<h3>Responsive Sizing</h3>
<p>By parent.</p>
<div class="snippet">
<div class="grid small-grid--1of2 med-grid--1of3 large-grid--1of4 grid--gutters">
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
<div class="grid-cell"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid small-grid--1of2 med-grid--1of3 large-grid--1of4 grid--gutters">
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>
<p>By block.</p>
<div class="snippet">
<div class="grid grid--gutters">
<div class="grid-cell u-small-full u-med-1of3 u-large-1of4"><div class="grid-cell-demo"></div></div>
<div class="grid-cell u-small-full u-med-2of3 u-large-3of4"><div class="grid-cell-demo"></div></div>
</div>
<pre><code class="language-markup">&lt;div class="grid grid--gutters">
  &lt;div class="grid-cell u-small-full u-med-1of3 u-large-1of4">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
  &lt;div class="grid-cell u-small-full u-med-2of3 u-large-3of4">&lt;div class="grid-cell-demo">&lt;/div>&lt;/div>
&lt;/div></code></pre>
</div>

