---
template: default.html 
title: Contact Cards 
excerpt: Contact Cards
---





<div class="snippet">
    <div class="contact-card">
        <dl>
            <dl class="contact-id">
                <dd class="contact-name">Daniel Fukuhara</dd>
                <dd class="contact-title">Web Specialist</dd>
                <dd class="contact-department">Branding, Marketing and Communications</dd>
            </dl>
            <dl class="contact-info">
                <dd class="contact-building">427 Sparks Hall</dd>
                <dd class="contact-street">526 South 6th Street</dd>
                <dd class="contact-csz">Murray, KY, 42071</dd>
                <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
                <dd class="contact-phone">270.681.5866</dd>
            </dl>
        </dl>
    </div>
    <a class="code-expander">Markup</a>
    <code class="code">
    <textarea class="code-inner">
    <div class="contact-card">
      <dl>
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
    </dl>
</div>
</textarea>
</code>

</div>

<div class="snippet">
<div class="contact-card inline">
    <div class="contact-pic">
        <img src="http://www.nicenicejpg.com/600/400" />
    </div>
  
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
 
</div>
<a class="code-expander">Markup</a>
    <code class="code">
    <textarea class="code-inner">
    <div class="contact-card inline">
    <div class="contact-pic">
        <img src="http://www.nicenicejpg.com/600/400" />
    </div>
  
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
 
</div>
</textarea>
</code>
</div>
<div class="snippet">
<div class="contact-card inline with-bio">
    <div class="contact-wrapper">
        <div class="contact-pic">
            <img src="http://www.nicenicejpg.com/600/400" />
        </div>
      
            <dl class="contact-id">
                <dd class="contact-name">Daniel Fukuhara</dd>
                <dd class="contact-title">Web Specialist</dd>
                <dd class="contact-department">Branding, Marketing and Communications</dd>
            </dl>
            <dl class="contact-info">
                <dd class="contact-building">427 Sparks Hall</dd>
                <dd class="contact-street">526 South 6th Street</dd>
                <dd class="contact-csz">Murray, KY, 42071</dd>
                <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
                <dd class="contact-phone">270.681.5866</dd>
            </dl>
  
    </div>
    <div class="contact-bio">
        <div class="contact-bio-wrapper">
            <div class="bio-title">about daniel</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quibusdam excepturi ipsam, soluta maxime, sint itaque quidem dignissimos dolorem, debitis nulla placeat ab! Nostrum dolores libero laboriosam molestias pariatur ipsum.</p>
            <p>Quisquam illo et, aspernatur consequatur nemo assumenda perspiciatis voluptatum beatae, nam explicabo quibusdam. Quasi beatae distinctio blanditiis amet eum accusantium aliquam doloribus, deserunt totam repellat laudantium consequatur illum, nemo eveniet.</p>
            <p>Rem quidem vitae eveniet possimus nostrum quisquam placeat officia, nemo commodi! Ea mollitia corrupti illum, reprehenderit totam harum soluta necessitatibus recusandae quibusdam, corporis dolorum, doloremque velit eligendi quo amet omnis.</p>
        </div>
    </div>
    <a class="bio-expander"><span class="icon"></span></a>
</div>
<a class="code-expander">Markup</a>
<code class="code">
    <textarea class="code-inner">
    <div class="contact-card inline with-bio">
    <div class="contact-wrapper">
        <div class="contact-pic">
            <img src="http://www.nicenicejpg.com/600/400" />
        </div>
      
            <dl class="contact-id">
                <dd class="contact-name">Daniel Fukuhara</dd>
                <dd class="contact-title">Web Specialist</dd>
                <dd class="contact-department">Branding, Marketing and Communications</dd>
            </dl>
            <dl class="contact-info">
                <dd class="contact-building">427 Sparks Hall</dd>
                <dd class="contact-street">526 South 6th Street</dd>
                <dd class="contact-csz">Murray, KY, 42071</dd>
                <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
                <dd class="contact-phone">270.681.5866</dd>
            </dl>
    
    </div>
    <div class="contact-bio">
        <div class="contact-bio-wrapper">
            <div class="bio-title">about daniel</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quibusdam excepturi ipsam, soluta maxime, sint itaque quidem dignissimos dolorem, debitis nulla placeat ab! Nostrum dolores libero laboriosam molestias pariatur ipsum.</p>
            <p>Quisquam illo et, aspernatur consequatur nemo assumenda perspiciatis voluptatum beatae, nam explicabo quibusdam. Quasi beatae distinctio blanditiis amet eum accusantium aliquam doloribus, deserunt totam repellat laudantium consequatur illum, nemo eveniet.</p>
            <p>Rem quidem vitae eveniet possimus nostrum quisquam placeat officia, nemo commodi! Ea mollitia corrupti illum, reprehenderit totam harum soluta necessitatibus recusandae quibusdam, corporis dolorum, doloremque velit eligendi quo amet omnis.</p>
        </div>
    </div>
    <a class="bio-expander"><span class="icon"></span></a>
</div>
</textarea>
</code>
</div>

<div class="contact-card inline flex">
<div class="contact-pic-wrapper">
    <div class="contact-pic">
        <img src="http://www.nicenicejpg.com/600/400" />
    </div>
    </div>
   
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
 
</div>

<script>
$(document).on('click', '.bio-expander', function() {
    $(this).siblings('.contact-bio').toggleClass('is-expanded');
})
$(document).on('click', '.code-expander', function() {
    $(this).next('.code').toggleClass('is-expanded');
})
</script>


