---
template: default.html 
title: Contact Cards 
excerpt: Contact Cards
---


<div class="contact-card">
    <dl>
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
    </dl>
</div>

<div class="contact-card inline">
<div class="contact-pic">
    <img src="http://www.nicenicejpg.com/600/400"/>
</div>
    <dl class="contact-content">
        <dl class="contact-id">
            <dd class="contact-name">Daniel Fukuhara</dd>
            <dd class="contact-title">Web Specialist</dd>
            <dd class="contact-department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
            <dd class="contact-building">427 Sparks Hall</dd>
            <dd class="contact-street">526 South 6th Street</dd>
            <dd class="contact-csz">Murray, KY, 42071</dd>
            <dd class="contact-email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</a></dd>
            <dd class="contact-phone">270.681.5866</dd>
        </dl>
    </dl>
</div>


