---
template: default.html 
title: Contact Cards 
excerpt: Contact Cards
---


<h2>Contact Card without Labels</h2>
<h3>Stacked</h3>
<div class="contact-card no-labels stacked">
    <dl>
    	<dt>Name</dt>
        <dd data-contact-id="name">Daniel Fukuhara</dd>
        <dt>Position</dt>
        <dd data-contact-id="position">Web Specialist</dd>
        <dt>Department</dt>
        <dd data-contact-id="department">Branding, Marketing and Communications</dd>
        <dt>Building</dt>
        <dd data-contact-id="building">427 Sparks Hall</dd>
        <dt>Address</dt>
        <dd data-contact-id="address">526 South 6th Street</dd>
        <dd data-contact-id="city-state-zip">Murray, KY, 42071</dd>
        <dt>Email</dt>
        <dd data-contact-id="email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</dd>
        <dt>Phone</dt>
        <dd data-contact-id="phone">270.681.5866</dd>
    </dl>
</div>
<h3>Inline</h3>
<div class="contact-card no-labels inline">
    <dl>
        <div class="profile-pic">
        <figure>
        	<img src="http://www.nicenicejpg.com/600/400"/>
        	</figure>
        </div>
        <dl class="contact-id">
    	<dt>Name</dt>
        <dd data-contact-id="name">Daniel Fukuhara</dd>
        <dt>Position</dt>
        <dd data-contact-id="position">Web Specialist</dd>
        <dt>Department</dt>
        <dd data-contact-id="department">Branding, Marketing and Communications</dd>
        </dl>
        <dl class="contact-info">
        <dt>Building</dt>
        <dd data-contact-id="building">427 Sparks Hall</dd>
        <dt>Address</dt>
        <dd data-contact-id="address">526 South 6th Street</dd>
        <dd data-contact-id="city-state-zip">Murray, KY, 42071</dd>
        <dt>Email</dt>
        <dd data-contact-id="email"><a href="mailto:dfukuhara@murraystate.edu">dfukuhara@murraystate.edu</dd>
        <dt>Phone</dt>
        <dd data-contact-id="phone">270.681.5866</dd>
        </dl>
</div>

