<h3>Branding</h3>
<div class="demo-box">
    <div class="color-palette">
        <div class="color-card">
            <div class="inner">
                <div class="msu-gold">
                    <span>#ecac00</span>
                </div>
            </div>
            <div class="color-palette">
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-brighter-gold"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-bright-gold"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-dark-gold"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-darker-gold"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="color-card">
            <div class="inner">
                <div class="msu-navy">
                    <span>#002144</span>
                </div>
            </div>
            <div class="color-palette">
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-brighter-navy"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-bright-navy"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-dark-navy"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-darker-navy"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="color-card">
            <div class="inner">
                <div class="msu-blue">
                    <span>#5381ac</span>
                </div>
            </div>
            <div class="color-palette">
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-brighter-blue"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-bright-blue"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-dark-blue"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-darker-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="color-card">
            <div class="inner">
                <div class="msu-teal">
                    <span>#2c95b5</span>
                </div>
            </div>
            <div class="color-palette">
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-brighter-teal"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-bright-teal"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-dark-teal"></div>
                    </div>
                </div>
                <div class="color-card">
                    <div class="inner">
                        <div class="msu-darker-teal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Grey</h3>
<div class="demo-box">
    <div class="color-palette">
        <div class="color-card">
            <div class="inner">
                <div class="lightest-grey"></div>
            </div>
        </div>
        <div class="color-card">
            <div class="inner">
                <div class="lighter-grey"></div>
            </div>
        </div>
        
        <div class="color-card">
            <div class="inner">
                <div class="darker-grey"></div>
            </div>
        </div>
        <div class="color-card">
            <div class="inner">
                <div class="darkest-grey"></div>
            </div>
        </div>
    </div>
</div>
