<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="Site">
    {% include 'site-navigation.html' %}
    <script>
    $(document).on('click', '.js-site-navigation-toggle', function() {
        $('.site-navigation').toggleClass('is-visible');
        $(this).toggleClass('is-toggled');
    })
    </script>
    <header class="site-header">
        <div class="site-header__wrapper">
            <a class="js-site-navigation-toggle icon menu-white-48 link--no-decoration"></a>
            <h1>{{ page.title }}</h1>
        </div>
    </header>
    <main class="site-content">
        <div class="site-content__wrapper">
            {{ page.content }}
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    </footer>
    <script>
    $(function() {
        $("a").each(function() {
            var path = "{{ site.baseUrl }}" + window.location.pathname;
            if ($(this).attr("href") == window.location.pathname) {
                $(this).addClass("is-current");
            }
        });
    });
    </script>
    {% include 'scripts.html' %}
</body>

</html>
