<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="Site">
    {% include 'site-navigation.html' %}
    {% include 'site-header.html' %}
   
    <main class="site-content interior-template">
        <div class="site-content__wrapper">
            {{ page.content }}
        </div>


    </main>
    <footer class="site-footer">
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    </footer>
    {% include 'scripts.html' %}
    
</body>

</html>
