<div class="featured-story Grid-cell">
                <div class="featured-story_inner Grid Grid--gutters">
                    <div class="featured-story_image Grid-cell u-small-1of4 u-large-1of3">
                        <div class="ratio-4x3">
                            <div class="ratio-inner"> <img src="{{ site.baseUrl }}images/typ_hero.jpg"> </div>
                        </div>
                    </div>
                    <div class="featured-story_content Grid-cell u-small-3of4 u-large-2of3">
                        <h2 class="featured-story_title typl8-gamma u-spaceBS">Murray State University Expects To Reach Record Enrollment</h2>
                        <p class="featured-story_summary">While many universities see declining enrollment, Murray State surpasses 11,000 for the first time in history.</p>
                    </div>
                </div>
            </div>