<nav class="site-navigation">
        <ul class="list--naked">
            <li><a href="{{ site.baseUrl }}demos/base/">Base styles
                <ul>
                    <li><a href="{{ site.baseUrl }}demos/base/color-palette/">Color palette</a></li>
                </ul>
            </a>
                <li><a href="{{ site.baseUrl }}demos/objects/">Objects</a>
                    <ul class="list--naked">
                        <li><a href="{{ site.baseUrl }}demos/objects/page-anchors/">Page anchors</a></li>
                        <li><a href="{{ site.baseUrl }}demos/objects/helpful-links/">Helpful links</a></li>
                        <li><a href="{{ site.baseUrl }}demos/objects/images/">Image blocks</a></li>
                        <li><a href="{{ site.baseUrl }}demos/objects/tables/">Tables</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseUrl }}demos/components/">Components</a>
                    <ul>
                        <li><a href="{{ site.baseUrl }}demos/components/contact-cards/">Contact cards</a></li>
                        <li><a href="{{ site.baseUrl }}demos/components/quick-links/">Quick links</a></li>
                    </ul>
                </li>
        </ul>
    </nav>