---
template: default.html
title: Office list
excerpt: Office list
---
<div class="site-container">
    <main class="main-content">
<div class="office-list">
                    <div class="office">
                        <div class="department-info">
                            <h3>Academic Advising</h3>
                            <p><a>Visit website</a></p>
                        </div>
                        <div class="personnel-info">
                        <h4 class="label">Contact</h4>
                            <div class="contact-card">
                                <dl>
                                    <dl class="contact-id">
                                        <dt class="contact-name">Dr. Barbara Cobb</dt>
                                        <dd class="contact-position">Coordinator of Academic Advising</dd>
                                    </dl>
                                    <dl class="contact-info">
                                        <dd><a>bcobb@murraystate.edu</a></dd>
                                        <dd>(270) 809-4538</dd>
                                    </dl>
                                </dl>
                            </div>
                            <div class="contact-card">
                                <dl>
                                    <dl class="contact-id">
                                        <dt class="contact-name">Dr. Barbara Cobb</dt>
                                        <dd class="contact-position">Coordinator of Academic Advising</dd>
                                    </dl>
                                    <dl class="contact-info">
                                        <dd><a>bcobb@murraystate.edu</a></dd>
                                        <dd>(270) 809-4538</dd>
                                    </dl>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="office">
                        <div class="department-info">
                            <h3>Academic Advising</h3>
                            <p><a>Visit website</a></p>
                        </div>
                        <div class="personnel-info">
                            <div class="contact-card">
                                <dl>
                                    <dl class="contact-id">
                                        <dt class="contact-name">Dr. Barbara Cobb</dt>
                                        <dd class="contact-position">Coordinator of Academic Advising</dd>
                                    </dl>
                                    <dl class="contact-info">
                                        <dd><a>bcobb@murraystate.edu</a></dd>
                                        <dd>(270) 809-4538</dd>
                                    </dl>
                                </dl>
                            </div>
                            <div class="contact-card">
                                <dl>
                                    <dl class="contact-id">
                                        <dt class="contact-name">Dr. Barbara Cobb</dt>
                                        <dd class="contact-position">Coordinator of Academic Advising</dd>
                                    </dl>
                                    <dl class="contact-info">
                                        <dd><a>bcobb@murraystate.edu</a></dd>
                                        <dd>(270) 809-4538</dd>
                                    </dl>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                </main>
                </div>