---
template: default.html
title: Buttons
excerpt: Buttons
---

<h2>Sizes</h2>
<div class="demo-box">
<div class="label">Small</div>
<a class="button small">button</a>
<div class="label">Medium</div>
<a class="button">button</a>
<div class="label">Large</div>
<a class="button large">button</a>
</div>

<h2>Types</h2>
<div class="demo-box">
    <div class="grid grid--auto grid--gutters">
        <div class="grid-cell">
            <div class="label">Bare</div>
            <a class="button bare">button</a>
        </div>
        <div class="grid-cell">
            <div class="label">Primary</div>
            <a class="button">button</a>
        </div>
    </div>
    <div class="grid grid--auto grid--gutters">
        <div class="grid-cell">
            <div class="label">Subtle</div>
            <a class="button subtle">button</a>
        </div>
        <div class="grid-cell">
            <div class="label">Outline</div>
            <a class="button outline">button</a>
        </div>
        <div class="grid-cell">
            <div class="label">Disabled</div>
            <a class="button disabled">button</a>
        </div>
    </div>
    <div class="grid grid--auto grid--gutters">
        <div class="grid-cell">
            <div class="label">Green</div>
            <a class="button action">button</a>
        </div>
        <div class="grid-cell">
            <div class="label">Red</div>
            <a class="button red">button</a>
        </div>
        <div class="grid-cell">
            <div class="label">Yellow</div>
            <a class="button yellow">button</a>
        </div>
    </div>
    <div class="grid grid--auto grid--gutters">
        <div class="grid-cell">
            <div class="label">With icon</div>
            <a class="dropdown-button">
                <span class="icon"></span>
                <span>button</span>
            </a>
        </div>
        <div class="grid-cell">
            <div class="label">With icon after</div>
            <a class="dropdown-button icon-after">
                <span>button</span>
                <span class="icon"></span>
            </a>
        </div>
    </div>
</div>



