---
template: two-column.html
title: Main article
excerpt: Main article
---
<div class="site-container">
    <main class="main-content">
        <article class="main-article">
            <div class="article-wrapper">
                
                


                
                <div class="video js-fitvids">
                    <iframe src="https://player.vimeo.com/video/65223612" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <p>Programs can be completed entirely online with courses taught by Murray State’s top-notch faculty. You can be assured of the quality of our university. Murray State has been continuously accredited by the Southern Association of Colleges and Schools Commission on Colleges (SACSCOC) since 1928.</p>
                <h3>Online Registration</h3>
                <h4>Summer 2015</h4>
                <p>The summer 2015 schedule is now available <a>here</a>.</p>
                <h4>Advance Registration</h4>
                <p>Advance registration begins April 7th. Check your registration time and date <a>here</a>.</p>
                <h4>Questions?</h4>
                <p>We are here to help, so feel free to give us a call or even chat with us.</p>
                <div class="contact-card">
                    <dl>
                        <dt>Email</dt>
                        <dd><a>msu.online@murraystate.edu</a></dd>
                        <dt>Phone</dt>
                        <dd>(270) 809-2159 or (800) 669-7654</dd>
                    </dl>
                </div>
            </div>
        </article>
    </main>
</div>


